{% extends 'base.html' %}
{% load prk_templatetags %}
{% block content %}
    <div class="ui four steps segment tahoma">
        <div class="ui step">
سبد خرید
        </div>
        <div class="ui step">
            ورود
        </div>
        <div class="ui step">
            اطلاعات ارسال و پرداخت
        </div>
        <div class="ui active step">
            تایید سفارش
        </div>
    </div>
    <div class="column ui grid tahoma">
        <div class="column">
            <form class="ui form" method="post">
                {% csrf_token %}

                {#                <div class="ui error message">#}
                {#                    <div class="header">Action Forbidden</div>#}
                {#                    <p>You can only sign up for an account once with a given e-mail address.</p>#}
                {#                </div>#}
                <table class="ui sortable large table segment">
                    <thead>
                    <tr>
                        <td></td>
                        <td>شرح محصول</td>
                        <td>تعداد</td>
                        <td>قیمت واحد</td>
                        <td>قیمت کل</td>
                        <td>حذف</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for factor in bill.factors.all %}
                        <tr>
                            <td><img src="{{ MEDIA_URL }}{{ factor.ware.image }}" width="100px" height="100px"></td>
                            <td>{{ factor.ware.name }}</td>
                            <td>
                                <select name="factor_count_{{ factor.id }}" id="id_factor_count_{{ factor.id }}">
                                    {% for i in 10|get_range %}
                                        {% if not forloop.first %}
                                            <option value="{{ i }}"
                                                    {% if factor.count == i %}selected="selected"{% endif %}>
                                                {{ i }}
                                            </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                            <td>{{ factor.ware.price }}</td>
                            <td>{{ factor.total_price }}</td>
                            <td><a class=""><i class="icon delete"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>مبلغ کل خرید</td>
                        <td>{{ bill.total_pay }}</td>
                        <td></td>
                    </tr>
                    </tfoot>
                </table>
                <div class="ui blue submit button">انجام خرید</div>
            </form>
        </div>
    </div>
{% endblock %}