{% extends 'base.html' %}
{% load prk_templatetags %}
{% block content %}
    <article id="main-content" class="ui segment">

    <div class="ui grid">

        <div class="five wide column">

            <div class="ui center aligned segment">
                <form class="ui form" id="time-form" method="post" action="">
                    {% csrf_token %}
                    <h4 class="ui dividing header">
                        ثبت زمان
                    </h4>

                    {{ form.errors }}

                    <div class="field">
                        <label>
                            پروژه
                            <i id="add-project" class="green plus icon link icon"></i>

                        </label>
                        {{ form.project }}
                    </div>
                    <div class="required field">
                        <label>
                            زمان گذاشته شده
                        </label>
                        {{ form.time_spend }}
                    </div>
                    <div class="required field">
                        <label>
                            تاریخ
                        </label>
                        {{ form.due_date }}
                    </div>
                    <div class="required field">
                        <label>
                            شرح کار
                        </label>
                        {{ form.desc }}
                    </div>

                    <button class="ui compact labeled icon button" type="submit">
                        <i class="ticket icon"></i>
                        ثبت
                    </button>

                </form>
            </div>
        </div>


        <div class="eleven wide column">
            <div class="ui segment">
                <h4 class="ui dividing header right aligned">
گزارش کارها:
                </h4>

                {% for timespend in times %}
                    <div class="ui segment right aligned">

                        <div class="ui items">
                            <div class="item">
                                <div class="content padded">


                                    <div class="description">
                                        <input type="hidden" value="{% url 'edit_time' timespend.id %}"
                                               class="time-url">
                                        {% if timespend.account_id == user.id %}
                                            <i class="orange edit icon link icon edit-time"></i>
                                        {% endif %}
                                        <span class="desc">{{ timespend.desc|safe }}</span></div>

                                    <div class="extra">
                                        <div class="ui label green time_spend" data-value="{{ timespend.time_spend }}">
                                            {{ timespend.time_spend }} ساعت
                                        </div>

                                        {% if timespend.project %}
                                            <a class="ui label blue project"
                                               href="{% url "times" %}?p={{ timespend.project.id }}"
                                               data-value="{{ timespend.project_id }}">
                                                {{ timespend.project.title }}
                                            </a>
                                        {% else %}
                                            <a class="ui label purple project"
                                               href="{% url "times" %}?p=0"
                                               data-value="">
                                                (متفرقه)
                                            </a>
                                        {% endif %}
                                        <a class="ui label account"
                                           href="{% url "times" %}?u={{ timespend.account.id }}"
                                           data-value="{{ timespend.account_id }}">
                                            <i class=" green user icon"></i>
                                            {{ timespend.account }}
                                        </a>
                                        <a class="ui label due_date"
                                           href="{% url "times" %}?i={{ timespend.due_date|st_date }}"
                                           data-value="{{ timespend.due_date|to_jalali_rev }}">
                                            <i class="green calendar icon"></i>
                                            {{ timespend.due_date|to_jalali }}
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>

    </div>


    <div class="ui small test modal transition" id="add-project-modal" style="margin-top: -98px;">
        <i class="close icon"></i>

        <div class="ui right aligned header">
            ساخت پروژه جدید
        </div>
        <form class="ui form" id="project-form" method="post" action="">
            {% csrf_token %}

            <div class="content ui center aligned segment">

                {{ project_form.errors }}

                <div class="field">
                    <label>
                        عنوان
                    </label>
                    {{ project_form.title }}
                </div>
                <div class="required field">
                    <label>
                        مدیر پروژه
                    </label>
                    {{ project_form.responsible }}
                </div>

            </div>
            <div class="actions">

                <button class="ui positive labeled icon button" type="submit">
                    ایجاد
                    <i class="checkmark icon"></i>
                </button>
            </div>
        </form>
    </div>

    <div class="ui small test modal transition" id="edit-time-modal" style="margin-top: -98px;">
        <i class="close icon"></i>

        <div class="ui right aligned header">
            ویرایش زمان
        </div>
        <form class="ui form" id="edit-time-form" method="post" action="">
            {% csrf_token %}

            <div class="content ui center aligned segment">

                {{ edit_form.errors }}

                <div class="field">
                    <label>
                        پروژه
                    </label>
                    {{ edit_form.project }}
                </div>
                <div class="required field">
                    <label>
                        زمان گذاشته شده
                    </label>
                    {{ edit_form.time_spend }}
                </div>
                <div class="required field">
                    <label>
                        تاریخ
                    </label>
                    {{ edit_form.due_date }}
                </div>
                <div class="required field">
                    <label>
                        شرح کار
                    </label>
                    {{ edit_form.desc }}
                </div>

            </div>
            <div class="actions">

                <button class="ui positive labeled icon button" type="submit">
                    ثبت
                    <i class="checkmark icon"></i>
                </button>
            </div>
        </form>
    </div>

    <script>
        $('#add-project').click(function () {
            $('#add-project-modal').modal('setting', 'transition', "vertical flip")
                    .modal('show');
        });

        $('.edit-time').click(function () {
            var time_url = $(this).parent().find('.time-url').val();
            var $time_div = $(this).parents('.content').first();
            var $form = $('#edit-time-form');
            $form.attr('action', time_url);
            $('#id_edit-project').val($time_div.find('.project').attr('data-value'));
            $('#id_edit-time_spend').val($time_div.find('.time_spend').attr('data-value'));
            $('#id_edit-due_date').val($time_div.find('.due_date').attr('data-value'));
            $('#id_edit-desc').val($time_div.find('.desc').html().trim());
            $('#edit-time-modal').modal('setting', 'transition', "vertical flip")
                    .modal('show');
        });

        $('.ui.form')
                .form({
                    name: {
                        identifier: 'name',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please enter a username'
                            }
                        ]
                    }
                }, {
                    inline: true,
                    on: 'blur'
                });

    </script>
    </article>
{% endblock %}