{% extends 'base.html' %}
{% load prk_templatetags %}
{% block content %}
    <article id="main-content" class="ui segment">

        <div class="ui grid">

            <div class="five wide column">

                <div class="ui center aligned segment">
                    <form class="ui form" id="form" method="post" action="">
                        {% csrf_token %}
                        <h4 class="ui dividing header">
                            ثبت زمان
                        </h4>

                        {{ form.errors }}

                        <div class="field">
                            <label>
                                پروژه
                            </label>
                            {{ form.project }}
                        </div>
                        <div class="required field">
                            <label>
                                زمان گذاشته شده
                            </label>
                            {{ form.time_spend }}
                        </div>
                        <div class="required field">
                            <label>
                                شرح کار
                            </label>
                            {{ form.desc }}
                        </div>

                        <button class="ui compact labeled icon button" type="submit">
                            <i class="ticket icon"></i>
                            ثبت
                        </button>


                        <script>
                            $('.ui.form')
                                    .form({
                                        name: {
                                            identifier: 'name',
                                            rules: [
                                                {
                                                    type: 'empty',
                                                    prompt: 'Please enter a username'
                                                }
                                            ]
                                        },
                                        username: {
                                            identifier: 'username',
                                            rules: [
                                                {
                                                    type: 'empty',
                                                    prompt: 'Please enter a username'
                                                }
                                            ]
                                        },
                                        password: {
                                            identifier: 'password',
                                            rules: [
                                            ]
                                        }, repass: {
                                            identifier: 'repassword',
                                            rules: [
                                                {
                                                    type: 'match[password]',
                                                    prompt: 'passwords must match'
                                                }
                                            ]
                                        }, email: {
                                            identifier: 'email',
                                            rules: [
                                                {
                                                    type: 'empty',
                                                    prompt: 'Please enter a username'
                                                },
                                                {
                                                    type: 'email',
                                                    prompt: 'It is an incorrect Email'
                                                }
                                            ]
                                        }, birthday: {
                                            identifier: 'birthdate',
                                            rules: [
                                                {
                                                    type: 'empty',
                                                    prompt: 'Please enter a username'
                                                }
                                            ]
                                        }
                                    }, {
                                        inline: true,
                                        on: 'blur'
                                    });

                        </script>
                    </form>
                </div>
            </div>


            <div class="eleven wide column">
                <div class="ui segment">
                    <h4 class="ui dividing header right aligned" title="سلام">
                        زمان ها:
                    </h4>

                    {% for timespend in times %}
                        <div class="ui segment right aligned">

                            <div class="ui items">
                                <div class="item">
                                    <div class="content padded">


                                        <div class="description">{{ timespend.desc|safe }}</div>

                                        <div class="extra">
                                            <div class="ui label">
                                                <i class="green user icon"></i>
                                                {{ timespend.account }}
                                            </div>
                                            <div class="ui label green">
                                                {{ timespend.time_spend }} ساعت
                                            </div>


                                            <div class="ui label blue">
                                                {{ timespend.project.title }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                </div>
            </div>

        </div>

    </article>
{% endblock %}