{% extends 'admin/base.html' %}
{% block title %}ورود کاربران از اکسل{% endblock %}
{% block content %}
    {% if form %}
        <h2>
            راهنما : در فایل اکسل ورودی باید به ترتیب ستون های نام، نام خانوادگی، شماره دانشجویی، خوابگاه،کد ملی، و پست
            الکترونیک وجود داشته باشند.
            <br/>
            پس از خوانده شدن هر سطر اگر دانشجویی با این شماره دانشجویی قبلا در سیستم وجود داشته باشد، اطلاعات او
            بروزرسانی
            میشود و در غیر این صورت دانشجو مورد نظر به سیستم اضافه می شود.
        </h2>
        <br/>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <br/>
            <input type="submit" value="ارسال">
        </form>
    {% else %}
        از لینک روبرو میتوانید به صفحه کاربران دسترسی داشته باشید:
        <a href="{% url admin:auth_user_changelist %}">کاربرها</a>
    {% endif %}
{% endblock %}
