{% extends 'base.html' %}

{% block extra_js %}
     <script src="/static/js/my_money.js"></script>
    {% endblock %}
 {% block extra_css %}
      <link rel="stylesheet" href="/static/css/my_money.css">
    {% endblock %}

{% block content %}

<div class="ui grid padded">
    <div class="three wide column"></div>
    <div class="ten wide column">
        <div class="ui segment">
            <div>gdgd</div>
            <div class="ui divider"></div>
            <div class="ui grid">
                <div class="sixteen wide column">

                            <div class="ui segment">
                                <div class="ui grid">
                                    <div class="two wide column fontsize left aligned">
                                        تاریخ
                                    </div>
                                    <div class="two wide column fontsize right aligned">
                                        94/05/05
                                    </div>
                                    <div class="two wide column fontsize left aligned">
                                        شرح
                                    </div>
                                    <div class="two wide column fontsize right aligned">
                                        حقوق
                                    </div>
                                    <div class="two wide column fontsize right aligned">
                                        واریز
                                    </div>
                                    <div class="four wide column fontsize center aligned">
                                        2/000/000
                                    </div>
                                    <div class="one wide column fontsize right aligned">
                                        ریال
                                    </div>
                                </div>


                    </div>
                </div>

            </div>
            <div class="ui grid">
                <div class="sixteen wide column">

                    <div class="ui segment">
                        <div class="ui grid">
                            <div class="two wide column fontsize left aligned">
                                تاریخ
                            </div>
                            <div class="two wide column fontsize right aligned">
                                94/05/05
                            </div>
                            <div class="two wide column fontsize left aligned">
                                شرح
                            </div>
                            <div class="two wide column fontsize right aligned">
                                حقوق
                            </div>
                            <div class="two wide column fontsize right aligned">
                                واریز
                            </div>
                            <div class="four wide column fontsize center aligned">
                                2/000/000
                            </div>
                            <div class="one wide column fontsize right aligned">
                                ریال
                            </div>
                        </div>


                    </div>
                </div>

            </div>
            <div class="ui grid">
                <div class="sixteen wide column">

                    <div class="ui segment">
                        <div class="ui grid">
                            <div class="two wide column fontsize left aligned">
                                تاریخ
                            </div>
                            <div class="two wide column fontsize right aligned">
                                94/05/05
                            </div>
                            <div class="two wide column fontsize left aligned">
                                شرح
                            </div>
                            <div class="two wide column fontsize right aligned">
                                حقوق
                            </div>
                            <div class="two wide column fontsize right aligned">
                                واریز
                            </div>
                            <div class="four wide column fontsize center aligned">
                                2/000/000
                            </div>
                            <div class="one wide column fontsize right aligned">
                                ریال
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </div>
    </div>
</div>



{% endblock %}