{% extends 'base.html' %}

{% block content %}

    <div class="ui  segment" style="padding: 30px;">
        <div class="ui ">
            <div class="ui  green labeled icon button">
                <i class="plus icon"></i>
                تغییر ایده
            </div>

            <a class=" ui blue  label" style="float: left">
                {{ idea.created_on }}
            </a>
            <a class=" ui blue  label" style="float: left">
                ماهیت
            </a>
            <a class=" ui blue  label" style="float: left">
                {{ idea.state }}
            </a>
            <a class=" ui blue  label" style="float: left">
                Home
            </a>
            <a class="ui blue  label" style="float: left">
                Messages
            </a>
            <a class="ui blue  label" style="float: left">
                Friends
            </a>

        </div>
        <br>

        <div class="ui  divider"></div>
        <div class="ui segment">
            <div class="ui grid">
                <div class="three column row">
                    <div class="left floated column">
                        <div class="ui  red labeled icon button">
                            {{ idea.title }}
                        </div>
                    </div>
                    <div class="  column">
                        <a class="ui teal  label">
                            {{ idea.creator }}
                        </a>
                        <a class="ui teal  label">
                            {{ idea.created_on }}
                        </a>

                    </div>
                    <div class="right floated column">


                        <a class="ui grey  label">
                            وضعیت ایده
                        </a>

                        <a class="ui grey  label">
                            ماهیت ایده
                        </a>
                    </div>
                </div>
                <div class="sixteen wide column">


                    <div class="ui segment">
                        <div class="ui top right attached label">خلاصه ایده</div>
                        <p>
                            {{ idea.brief }}
                        </p>
                    </div>


                    <div class="ui segment">
                        <div class="ui top right attached label">توضیحات ایده خام</div>
                        <p>
                            {{ idea.first_desc }}
                        </p>
                    </div>

                    <div class="ui segment">
                        <div class="ui top right attached label">توجیه اقتصادی</div>
                        <p>
                            {{ idea.economic_justification }}
                        </p>
                    </div>

                </div>


            </div>
        </div>
    </div>

{% endblock %}
