{% extends 'base.html' %}

{% block content %}
 <div class="three column row">
                    <div style="word-break: break-all; padding: 10px;">
                        sdadsadasdlknfowhfouewfwnevwobeobwvbobouwevbowbeovbouevobjwvbojdbjovbjqbodvjbjodjdvbjdjbv<br>
                        dljsjdjlsdljkadklnasdsdadsadasdlknfowhfouewfwnevwobeobwvbobouwevbowbeovbouevobjwvbojdbjovbjqbodvjbjodjdvbjdjbvsdadsadasdlknfowhfouewfwnevwobeobwvbobouwevbowbeovbouevobjwvbojdbjovbjqbodvjbjodjdvbjdjbv
                    </div>
                </div>

{% endblock %}