{% extends 'base.html' %}

{% block extra_js %}
    <script src="/static/js/blog_list.js"></script>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="/static/css/blog_list.css">
{% endblock %}

{% block content %}
    <div class="ui grid padded">
        <div class="two wide column"></div>
        <div class="twelve wide column">
            <div class="ui grid">
                <div class="one wide column"></div>
                <div class="ten wide column">
                    <div class="ui segment directionltr">
                        <a class="ui purple right ribbon label">
                            نام مطلب
                        </a>

                        <a class="ui purple ribbon label" style="margin-left: -75px;">
                            تاریخ ایجاد
                        </a>


                        <div class="font">
                            سعید حسنی کارگر- برادربزرگ شهید حادثه «منا» نیز با بیان اینکه محسن برادر سوم خانواده ما بود
                            ادامه داد:
                            این مرحوم دارای مدرک لیسانس مدیریت و مجرد بود و با اینکه مادرمان چند وقتی بود برای این عزیز
                            آستین
                            بالازده و قرار بود برای ایشان همسر انتخاب کند، اما محسن اصرار داشت به این سفر برود و سپس
                            ازدواج کند.
                            همچنین مصطفی حاجی حسنی برادر دیگر قاری بین المللی در گفت‌وگویی با خبرنگار ما ضمن بهت آور
                            بودن خبر شهادت
                            این عزیز، از اصرار فراوان این مرحوم برای سفر به حج امسال یاد کرد وادامه داد :محسن به ما گفت
                            من در مکه
                            کار دارم و باید بروم .وی افزود: از زمان بروز حادثه منا تا صبح امروز(دیروز)شایعات ضد و نقیضی
                            پیرامون
                            سرنوشت برادرم وحجاج خانه خدا در رسانه ها منتشر شد که در کمال ناباوری بامداد امروز(دیروز) از
                            سوی یکی از
                            افراد آگاه دربعثه مقام معظم رهبری درمکه خبر درگذشت برادرم را به ما اعلام کردند.
                        </div>
                        <div class=" ui grid">
                            <div class="three wide column">
                                <a class="button1" href="post1.html">
                                    <button class="ui inverted green button">
                                        ادامه مطلب
                                    </button>
                                </a></div>
                            <div class="thirteen wide column"></div>

                        </div>
                    </div>
                    <div class="ui segment directionltr">
                        <a class="ui purple right ribbon label">
                            نام مطلب
                        </a>

                        <a class="ui purple ribbon label" style="margin-left: -75px;">
                            تاریخ ایجاد
                        </a>


                        <div class="font">
                            سعید حسنی کارگر- برادربزرگ شهید حادثه «منا» نیز با بیان اینکه محسن برادر سوم خانواده ما بود
                            ادامه داد:
                            این مرحوم دارای مدرک لیسانس مدیریت و مجرد بود و با اینکه مادرمان چند وقتی بود برای این عزیز
                            آستین
                            بالازده و قرار بود برای ایشان همسر انتخاب کند، اما محسن اصرار داشت به این سفر برود و سپس
                            ازدواج کند.
                            همچنین مصطفی حاجی حسنی برادر دیگر قاری بین المللی در گفت‌وگویی با خبرنگار ما ضمن بهت آور
                            بودن خبر شهادت
                            این عزیز، از اصرار فراوان این مرحوم برای سفر به حج امسال یاد کرد وادامه داد :محسن به ما گفت
                            من در مکه
                            کار دارم و باید بروم .وی افزود: از زمان بروز حادثه منا تا صبح امروز(دیروز)شایعات ضد و نقیضی
                            پیرامون
                            سرنوشت برادرم وحجاج خانه خدا در رسانه ها منتشر شد که در کمال ناباوری بامداد امروز(دیروز) از
                            سوی یکی از
                            افراد آگاه دربعثه مقام معظم رهبری درمکه خبر درگذشت برادرم را به ما اعلام کردند.
                        </div>
                        <div class=" ui grid">
                            <div class="three wide column">
                                <a class="button1" href="post1.html">
                                    <button class="ui inverted green button">
                                        ادامه مطلب
                                    </button>
                                </a></div>
                            <div class="thirteen wide column"></div>

                        </div>
                    </div>
                    <div class="ui segment directionltr">
                        <a class="ui purple right ribbon label">
                            نام مطلب
                        </a>

                        <a class="ui purple ribbon label" style="margin-left: -75px;">
                            تاریخ ایجاد
                        </a>


                        <div class="font">
                            سعید حسنی کارگر- برادربزرگ شهید حادثه «منا» نیز با بیان اینکه محسن برادر سوم خانواده ما بود
                            ادامه داد:
                            این مرحوم دارای مدرک لیسانس مدیریت و مجرد بود و با اینکه مادرمان چند وقتی بود برای این عزیز
                            آستین
                            بالازده و قرار بود برای ایشان همسر انتخاب کند، اما محسن اصرار داشت به این سفر برود و سپس
                            ازدواج کند.
                            همچنین مصطفی حاجی حسنی برادر دیگر قاری بین المللی در گفت‌وگویی با خبرنگار ما ضمن بهت آور
                            بودن خبر شهادت
                            این عزیز، از اصرار فراوان این مرحوم برای سفر به حج امسال یاد کرد وادامه داد :محسن به ما گفت
                            من در مکه
                            کار دارم و باید بروم .وی افزود: از زمان بروز حادثه منا تا صبح امروز(دیروز)شایعات ضد و نقیضی
                            پیرامون
                            سرنوشت برادرم وحجاج خانه خدا در رسانه ها منتشر شد که در کمال ناباوری بامداد امروز(دیروز) از
                            سوی یکی از
                            افراد آگاه دربعثه مقام معظم رهبری درمکه خبر درگذشت برادرم را به ما اعلام کردند.
                        </div>
                        <div class=" ui grid">
                            <div class="three wide column">
                                <a class="button1" href="post1.html">
                                    <button class="ui inverted green button">
                                        ادامه مطلب
                                    </button>
                                </a></div>
                            <div class="thirteen wide column"></div>

                        </div>
                    </div>
                    <div class="ui segment directionltr">
                        <a class="ui purple right ribbon label">
                            نام مطلب
                        </a>

                        <a class="ui purple ribbon label" style="margin-left: -75px;">
                            تاریخ ایجاد
                        </a>


                        <div class="font">
                            سعید حسنی کارگر- برادربزرگ شهید حادثه «منا» نیز با بیان اینکه محسن برادر سوم خانواده ما بود
                            ادامه داد:
                            این مرحوم دارای مدرک لیسانس مدیریت و مجرد بود و با اینکه مادرمان چند وقتی بود برای این عزیز
                            آستین
                            بالازده و قرار بود برای ایشان همسر انتخاب کند، اما محسن اصرار داشت به این سفر برود و سپس
                            ازدواج کند.
                            همچنین مصطفی حاجی حسنی برادر دیگر قاری بین المللی در گفت‌وگویی با خبرنگار ما ضمن بهت آور
                            بودن خبر شهادت
                            این عزیز، از اصرار فراوان این مرحوم برای سفر به حج امسال یاد کرد وادامه داد :محسن به ما گفت
                            من در مکه
                            کار دارم و باید بروم .وی افزود: از زمان بروز حادثه منا تا صبح امروز(دیروز)شایعات ضد و نقیضی
                            پیرامون
                            سرنوشت برادرم وحجاج خانه خدا در رسانه ها منتشر شد که در کمال ناباوری بامداد امروز(دیروز) از
                            سوی یکی از
                            افراد آگاه دربعثه مقام معظم رهبری درمکه خبر درگذشت برادرم را به ما اعلام کردند.
                        </div>
                        <div class=" ui grid">
                            <div class="three wide column">
                                <a class="button1" href="post1.html">
                                    <button class="ui inverted green button">
                                        ادامه مطلب
                                    </button>
                                </a></div>
                            <div class="thirteen wide column"></div>

                        </div>
                    </div>


                </div>
                <div class="one wide column"></div>
                <div class="three wide column">

                    <div class="sixteen wide column">
                        <div class="ui segment">
                            <div class="ui top attached label">
                                آخرین مطالب
                            </div>
                        </div>

                        <div class="ui inverted vertical menu" style="background-color:rebeccapurple; width: 100%; ">
                            <a class="active item">
                                Home
                            </a>
                            <a class="item">
                                Messages
                            </a>
                            <a class="item">
                                Friends
                            </a>
                        </div>
                    </div>
                </div>
                <div class="one wide column"></div>

            </div>
        </div>
        <div class="two wide column"></div>
    </div>

{% endblock %}