{% extends 'base.html' %}

{% block extra_js %}
    <script src="/static/js/blog_page.js"></script>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="/static/css/blog_page.css">
{% endblock %}

{% block content %}
    <div class="ui grid padded">
        <div class="two wide column"></div>
        <div class="twelve wide column">
            <div class="ui grid">
                <div class="one wide column"></div>
                <div class="ten wide column">
                    <div class="ui segment " style="direction: ltr">
                        <a class="ui purple right ribbon label">
                            نام مطلب
                        </a>

                        <a class="ui purple ribbon label" style="margin-left: -75px;">
                            تاریخ ایجاد
                        </a>


                        <div class="pagepost1 postcolor drtl">
                            <div style="margin: 20px auto;display: table">
                                <img src="../pic/pagepost1/pagepost1-1.jpg" alt="Mountain View"
                                     style="width:550px;height:367px;">
                            </div>
                            <div style="margin-left: 15px;margin-right: 15px; ">
                                <div class="font" style="direction: rtl;font-size: 20px;margin-top: 5px; ">
                                    عروج ملکوتی نفر اول سی‌وهفتمین دوره مسابقات بین‌المللی قرآن مالزی درحادثه جانسوز«
                                    مِنا» از سوی
                                    خانواده‌اش تأیید شد.
                                </div>
                                <br>

                                <div class="font" style="direction: rtl;font-size: 20px; text-align: justify">
                                    به گزارش
                                    <a href="http://www.yjc.ir/fa/social" target="_blank"
                                       style="color: rgb(255, 0, 0);">خبرنگار اجتماعی
                                        باشگاه خبرنگاران جوان</a>
                                    تا پیش از این درخبرها اعلام شده بود هنوز وضعیت سلامت این قاری برتر ایران که رتبه اول
                                    قرائت مسابقات قرآن
                                    مالزی را نیز از آن خود کرده بود مشخص نیست، اما دیروز در میان بهت و ناباوری همگان
                                    برادر محسن حاجی حسنی
                                    شهادت این قاری برتر جمهوری اسلامی ایران را در «منا» تأیید کرد.در پی این رخداد
                                    ناگوار، خبرنگار ما روز
                                    گذشته با حضور در منزل این مرحوم با اعضای خانواده وی گفت‌وگویی انجام داد.پدرمرحوم
                                    محسن حاجی حسنی کارگر با
                                    منحصر به فرد خواندن اخلاق و رفتار فرزند مرحومش از وی به نیکی یاد کرد و افزود: محسن
                                    فرزند کوچک خانواده ما
                                    بود که در سال 1367به دنیا آمد.او همیشه خنده بر لب داشت و بسیار باوقار و با متانت بود
                                    و هیچ‌وقت از او
                                    تندی و نافرمانی ندیده بودم.وی ادامه داد: در آخرین تماس تلفنی با محسن، مدام به من
                                    می‌گفت می‌خواهم برای
                                    شما هدیه ای بخرم .
                                </div>
                                <br><br>


                                <br>

                                <div class="font">
                                    محسن حاجی‌حسنی کارگر، نماینده جمهوری اسلامی ایران در سی‌وهفتمین دوره مسابقات
                                    بین‌المللی قرآن مالزی بود
                                    که رتبه نخست این رقابتها را کسب و جایزه خود را ازدست پادشاه مالزی دریافت کرده بود.در
                                    پی درگذشت این قاری
                                    بین المللی برخی مسؤولان استانی با حضور در خانه او با خانواده اش ابراز همدردی کردند و
                                    درگذشت او را به
                                    خانواده و جامعه قاریان تسلیت گفتند.

                                </div>
                                <br>

                                <p class="font-titr"><b>
                                    تسلیت آیت‌ا... علم‌الهدی ‌در پی درگذشت «حاجی حسنی کارگر»
                                </b></p>

                                <p class="font">
                                    امام جمعه مشهد به مناسبت درگذشت محسن حاجی‌حسنی‌کارگر در فاجعه منا، پیام تسلیتی صادر
                                    کرد.در پیام آیت‌ا...
                                    سید احمدعلم‌الهدی، آمده است:«درگذشت جوان مومن‌، انقلابی و قاری افتخارآفرین مشهد
                                    الرضا(ع)، آقای محسن
                                    حاجی‌حسنی‌کارگر بر اثر بی‌کفایتی آل سعود را به خانواده ایشان و جامعه قرآنی تسلیت عرض
                                    می‌نمائیم.آینده
                                    آخرت آنان در ناز و نعمت و حشر با شهدای کربلاست و روی سیاه و افتضاح و بی‌آبرویی برای
                                    این عامل مزدور ناپاک
                                    آمریکایی، آل‌سعود و حکومت سعودی در برابر این جنایت‌ها باقی خواهد ماند.»در پی این
                                    حادثه اندوهناک، حجت
                                    الاسلام والمسلمین محمدی، نماینده ولی فقیه و رئیس سازمان اوقاف وامور خیریه با صدور
                                    پیامی با بیان تسلیت
                                    درگذشت این قاری سرشناس گفته است: «حادثه تلخ و مصیبت‌بار منا در مکه مکرمه متأسفانه
                                    موجب جان باختن جمع
                                    کثیری از حجاج بیت‌ا... الحرام و زائران حرم امن الهی در روز عید سعید قربان شد. در این
                                    فاجعه تلخ متاسفانه
                                    جامعه قرآنی کشورمان نیز یاران عزیزی را از دست داد. آگاه شدیم عزیز قاری ممتاز
                                    بین‌المللی جمهوری اسلامی
                                    ایران «حاج محسن حاجی حسنی کارگر» نیز در جمع قربانیان سرزمین منا جان خود را در طبق
                                    اخلاص نهاده و اسماعیل
                                    وار به لقای معشوق شتافته‌اند.
                                </p>

                                <div style="margin: 20px auto;display: table">
                                    <img src="../pic/pagepost1/pagepost1-2.jpg" alt="Mountain View"
                                         style="width:550px;height:367px;">
                                </div>
                                <p class="font">
                                    همچنین مدیرکل ارشاد اسلامی خراسان رضوی با حضور در خانه این مرحوم درگذشت محسن
                                    حاجی‌حسنی کارگر را به
                                    خانواده وی تسلیت گفت .سرابی درحاشیه این دیدار گفت: مرحوم حسنی کارگر، نقطه افتخاری
                                    برای جهان اسلام بود و
                                    در منش و اخلاق و سجایای اخلاقی سرآمد جوانان بود و متأسفانه این جوان برجسته و نخبه
                                    قرآنی در آتش بی‌تدبیری
                                    و سوء مدیریت و اهمال آل سعود در منا به لقا ا... پیوست.همچنین، دکتر احمد نعینع قاری
                                    برجسته جهان اسلام با
                                    صدور پیامی درگذشت قاری و مبتهل کشورمان را به ملت ایران و جامعه قرآنی تسلیت گفت. در
                                    پیام این قاری برجسته
                                    آمده است: سوگند به خداوند بزرگ که این مصیبت عظمی بر ما بسیار گران و سنگین است. بی‌شک
                                    این شهدای بزرگوار
                                    اکنون در محضر الهی و در جوار ملکوتی پیامبر اکرم(ص) رزق و روزی دریافت می‌کنند. این
                                    درگذشتگان از فضلی که
                                    خداوند به آنها عطا نموده متنعم و شادمان هستند.
                                </p>

                                <p class="font">
                                    گفتنی است، پیکرپاک این قاری بین المللی احتمالا روز سه شنبه به همراه سایرجانباختگان
                                    حادثه منا، به ایران
                                    منتقل خواهد شد و سپس در شهر مشهد تشییع و به خاک سپرده خواهد شد.
                                </p>

                                <p class="font">

                                    گزارش از محسن رحیمی عنبران
                                </p>

                                <br>
                                <br>
                                <br>

                                <div style="margin: 0 auto;display: table;">
                                    کامنت ها
                                </div>
                                <br>

                                <div id="box" class="comment"></div>

                            </div>
                        </div>
                        <div class="ui grid">
                            <div class="two wide column">
                                <button id="bt1" class="ui  button purple">Save</button>

                            </div>

                            <div class="fourteen wide column">
                                <div class="field">

                                    <textarea id="textarea1" class="drtl animation post" placeholder="نظر بگذارید.."
                                              rows="2" style="width: 100%;"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="ui segment">
                            <a class="ui purple right ribbon label">
                                نام مطلب
                            </a>
                            <a class="ui purple ribbon label" style="margin-left: -75px;">
                                تاریخ ایجاد
                            </a>

                            <div class="drtl">
                                امام جمعه مشهد به مناسبت درگذشت محسن حاجی‌حسنی‌کارگر در فاجعه منا، پیام تسلیتی صادر
                                کرد.در پیام آیت‌ا... سید احمدعلم‌الهدی، آمده است:«درگذشت جوان مومن‌، انقلابی و قاری
                                افتخارآفرین مشهد الرضا(ع)، آقای محسن حاجی‌حسنی‌کارگر بر اثر بی‌کفایتی آل سعود را به
                                خانواده ایشان و جامعه قرآنی تسلیت عرض می‌نمائیم.آینده آخرت آنان در ناز و نعمت و حشر با
                                شهدای کربلاست و روی سیاه و افتضاح و بی‌آبرویی برای این عامل مزدور ناپاک آمریکایی،
                                آل‌سعود و حکومت سعودی در برابر این جنایت‌ها باقی خواهد ماند.»در پی این حادثه اندوهناک،
                                حجت الاسلام والمسلمین محمدی، نماینده ولی فقیه و رئیس سازمان اوقاف وامور خیریه با صدور
                                پیامی با بیان تسلیت درگذشت این قاری سرشناس گفته است: «حادثه تلخ و مصیبت‌بار منا در مکه
                                مکرمه متأسفانه موجب جان باختن جمع کثیری از حجاج بیت‌ا... الحرام و زائران حرم امن الهی در
                                روز عید سعید قربان شد. در این فاجعه تل
                            </div>
                        </div>

                    </div>


                </div>
                <div class="one wide column"></div>
                <div class="three wide column">

                    <div class="sixteen wide column">
                        <div class="ui segment">
                            <div class="ui top attached label">
                                آخرین مطالب
                            </div>
                        </div>

                        <div class="ui inverted vertical menu" style="background-color:rebeccapurple; width: 100%; ">
                            <a class="active item">
                                Home
                            </a>
                            <a class="item">
                                Messages
                            </a>
                            <a class="item">
                                Friends
                            </a>
                        </div>
                    </div>
                </div>
                <div class="one wide column"></div>

            </div>
        </div>
        <div class="two wide column"></div>
    </div>

{% endblock %}