{% extends 'base.html' %}
{% load prk_templatetags %}
{% block content %}
    <div class="ui doubling three column center aligned grid middle aligned internally ">
        <div class="row">
            <a class="wide blue column center aligned" href="{% url 'times' %}">
                <i class="huge circular inverted white idea icon link"></i>

                <h2 class="tahoma ui center aligned">
                    زمان ها!
                </h2>
            </a>

            <a class="wide teal column center aligned" href="works">
                <i class="huge circular inverted white tasks icon link"></i>

                <h2 class="tahoma ui center aligned">
                    کارها!
                </h2>
            </a>

            <div class="wide pink column center aligned">
                <i class="huge circular inverted white browser icon link"></i>

                <h2 class="tahoma ui center aligned">
                    مدیریت پروژه
                </h2>
            </div>
        </div>
        <div class="row">

            <a class="wide black column center aligned" href="{% url 'bank_list' %}">
                <i class="huge circular inverted white money icon link"></i>

                <h2 class="tahoma ui center aligned">
                    پولی و مالی
                </h2>
            </a>
            <div class="wide green column center aligned">
                <i class="huge circular inverted white lab icon link"></i>

                <h2 class="tahoma ui center aligned">
                    محصولات
                </h2>
            </div>
            <div class="wide orange column center aligned">
                <i class="huge circular inverted white comment outline icon link"></i>

                <h2 class="tahoma ui center aligned">
                    گفتمان
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="wide yellow column center aligned">
                <i class="huge circular inverted white write icon link"></i>

                <h2 class="tahoma ui center aligned">
                    بلاگ
                </h2>
            </div>
            <div class="wide purple column center aligned">
                <i class="huge circular inverted white newspaper icon link"></i>

                <h2 class="tahoma ui center aligned">
                    مطالب
                </h2>
            </div>
            <div class="wide red column center aligned">
                <i class="huge circular inverted white paint brush icon link"></i>

                <h2 class="tahoma ui center aligned">
                    سفارشات
                </h2>
            </div>
        </div>
        <div class="row">

            <div class="wide purple column center aligned">
                <i class="huge circular inverted white bar chart icon link"></i>

                <h2 class="tahoma ui center aligned">
                    آمارگیر
                </h2>
            </div>
            <div class="wide yellow column center aligned">
                <i class="huge circular inverted white user icon link"></i>

                <h2 class="tahoma ui center aligned">
                    حساب کاربری
                </h2>
            </div>

            <a class="wide blue column center aligned" href="{% url 'idea_list' %}">
                <i class="huge circular inverted white idea icon link"></i>

                <h2 class="tahoma ui center aligned">
                    ایده نگر
                </h2>
            </a>
        </div>

    </div>

{% endblock %}