<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PRK | پردازش رایانه کرمان</title>
    <meta name="description" content="گروه PRK فعال در زمینه وب اپلیکیشن ها و نرم افزارهای اندروید"/>
    <meta name="keywords"
          content="web, android, app, prk, infinity, prk group, kerman group, programming kerman group"/>
    <meta name="author" content="Codrops"/>
    <link rel="shortcut icon" href="/static/images/fav.ico">

    <link rel="stylesheet" type="text/css" href="/static/intro/css/intro.css?v=1.0.3"/>

    <link rel="stylesheet" type="text/css" href="/static/intro/css/tabstyles.css"/>
    <script src="/static/intro/modernizr.custom.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/intro/intro.js?v=1.0.3"></script>

</head>
<body>
<div class="header">
    <div class="container">


        <section>
            <div class="tabs tabs-style-linebox">
                <nav>
                    <ul>
                        <li id="home-btn"><a href="#section-linebox-5"><span>خانه</span></a></li>
                        <li id="samples-btn" class="jkhhg"><a href="#section-linebox-4"><span>نمونه کارها</span></a>
                        </li>
                        <li id="members-btn"><a href="#section-linebox-2"><span>اعضا</span></a></li>
                        <li id="about-us-btn"><a href="#section-linebox-3"><span> درباره ما  </span></a></li>
                        <li id="contact-us-btn" class=""><a href="#section-linebox-5"><span>ارتباط با ما</span></a></li>
                    </ul>
                </nav>
                <div class="content-wrap">
                    <section id="section-linebox-1"></section>
                    <section id="section-linebox-2"></section>
                    <section id="section-linebox-3"></section>
                    <section id="section-linebox-4"></section>
                    <section id="section-linebox-5"></section>
                </div>
                <!-- /content -->
            </div>
            <!-- /tabs -->
        </section>


    </div>
</div>
<a class="link link--mallki prk" href="#">PRK<span data-letters="PRK"></span><span data-letters="PRK"></span></a>

<div class="container  demo-1">


    <div class="content">
        <div id="large-header" class="large-header">
            <canvas id="demo-canvas"></canvas>
        </div>


    </div>
    <!-- Related demos -->

</div>
<!--<div class="home">-->
<!--PRK-->
<!--<div class="scrool-samples">-->
<!--<div id="scroll-samples-js" class="scrool-img"></div>-->
<!--</div>-->
<!--</div>-->
<div class="samples page-item">
    <div class="samples-header">
        نمونه کارها
    </div>
    <div class="scrool-member">
        <div id="scroll-members-js" class="scrool-img-members"></div>
    </div>
    <div class="slider-samples slider-wrap">
        <a class="slider-item" href="http://www.manzoom.ir" target="_blank">
            <img src="/static/intro/images/manzoom-logo.png" width="200" height="201">

            <div class="item-text">
                منظوم
            </div>
        </a>
        <a class="slider-item" href="/apps/finite/" target="_blank">
            <img src="/static/intro/images/unlimite-logo.png" width="200" height="201">

            <div class="item-text">
                بینهایت
            </div>
        </a>
        <a class="slider-item" target="_blank" href="/apps/del/">
            <img src="/static/intro/images/del-logo.png" width="200" height="201">

            <div class="item-text">
                دلنوشته های محرم
            </div>
        </a>

        <a class="slider-item" target="_blank" href="http://appyum.ir/ir.parkgroup.diba">
            <img src="/static/intro/images/diba-logo.png" width="200" height="201">

            <div class="item-text">
                دیبا
            </div>
        </a>
        <a class="slider-item" target="_blank" href="">
            <img src="/static/intro/images/amini-logo.png" width="200" height="201">

            <div class="item-text">
                حاج احمد امینی
            </div>
        </a>
        <div class="slider-item">
            <img src="/static/intro/images/ramezan-logo.png" width="200" height="201">

            <div class="item-text">
                لیله القدر
            </div>
        </div>
        <div class="slider-item">
            <img src="/static/intro/images/googli-logo.png" width="200" height="201">

            <div class="item-text">
                گوگلی
            </div>
        </div>
        <div class="slider-item">
            <img src="/static/intro/images/ghotb-logo.png" width="200" height="201">

            <div class="item-text">
                قطب سوم
            </div>
        </div>
        <div class="slider-item">
            <img src="/static/intro/images/zangi-logo.png" width="200" height="201">

            <div class="item-text">
                حاج یونس زنگی آبادی
            </div>
        </div>
        <div class="slider-item">
            <img src="/static/intro/images/haram-logo.png" width="200" height="201">

            <div class="item-text">
                هوای حرم
            </div>
        </div>
        <div class="slider-item">
            <img src="/static/intro/images/himalia-logo.png" width="200" height="201">

            <div class="item-text">
                هیمالیا
            </div>
        </div>
        <div class="slider-item">
            <img src="/static/intro/images/boieyas-logo.png" width="200" height="201">

            <div class="item-text">
                بوی یاس
            </div>
        </div>
        <div class="slider-item">
            <img src="/static/intro/images/boiesib-logo.png" width="200" height="201">

            <div class="item-text">
                بوی سیب
            </div>
        </div>
    </div>
    <div class="absolute mirror left-arrow slider-left"></div>
    <div class="absolute right-arrow slider-right"></div>
</div>
<div class="members page-item">
    <div class="members-header">
        اعضا
    </div>
    <div class="scrool-about">
        <div id="scroll-aboutus-js" class="scrool-img-about"></div>
    </div>
    <div class="slider-samples slider-wrap">
        <div class="slider-item">
            <img src="/static/intro/images/m-chif.png" width="200" height="201">

            <div class="item-text white">
                محمد صالح
            </div>
        </div>
        <div class="slider-item">
            <img src="/static/intro/images/d-member.png" width="200" height="201">

            <div class="item-text white">
                دانیال
            </div>
        </div>
        <div class="slider-item">
            <img src="/static/intro/images/m-member.png" width="200" height="201">

            <div class="item-text white">
                مهدی
            </div>
        </div>
        <div class="slider-item">
            <img src="/static/intro/images/a-member.png" width="200" height="201">

            <div class="item-text white">
                علی
            </div>
        </div>
        <div class="slider-item">
            <img src="/static/intro/images/dan-member.png" width="200" height="201">

            <div class="item-text white">
                دانیال
            </div>
        </div>
        <div class="slider-item">
            <img src="/static/intro/images/r-member.png" width="200" height="201">

            <div class="item-text white">
                رامین
            </div>
        </div>
        <div class="slider-item">
            <img src="/static/intro/images/amir-member.png" width="200" height="201">

            <div class="item-text white">
                امیر
            </div>
        </div>


    </div>
    <div class="absolute mirror left-arrow slider-left"></div>
    <div class="absolute right-arrow slider-right"></div>
</div>
<div class="about page-item">
    <div class="about-header">
        درباره ما
    </div>
    <div class="white about-main">
        <div class="about-text">

            گروه پردازش رایانه کرمان گروهی متعهد، متخصص و مستقل است.
            <br/>
            ما رسما کار خود را از اواخر سال 1393 شروع کردیم.
            <br/>
            تا کنون پروژه های نرم افزاری بسیاری را به صورت پیمانکار یا ایده های جدید انجام دادیم.
            <br/>
            سعی ما همیشه این است که از تکنولوژی های روز استفاده کنیم و نرم افزارهایی با بهترین کیفیت ایجاد کنیم و بهبود
            ببخشیم.
            <br/>
            در حال حاضر در حال رشد در زمینه های نرم افزارهای وب و اپلیکیشن های اندروید هستیم و امیدواریم روز به روز
            کارهای بهتری ارائه دهیم و بر توانایی های خود بیافزاییم.
            <br/>
            پیشرفت پیوسته و پایدار با PRK
        </div>
    </div>
    <div class="scrool-member">
        <div id="scroll-contactus-js" class="scrool-img-members"></div>
    </div>
</div>
<div class="contact page-item">
    <div class="contact-header">
        ارتباط با ما
    </div>
    {{ a|linebreaksbr }}

    <div class="message">
        پیام شما با موفقیت ارسال شد.
    </div>

    <form class="contact-box" action="javascript:void(0)" method="post">

        <input placeholder="نام" class="name right" id="contact-name">
        <input type="email" placeholder="ایمیل" class="email right" id="contact-email">
        <input placeholder="عنوان" class="title right" id="contact-title">
        <textarea placeholder="متن" class="text-contact" id="contact-text"></textarea>
        <button class="send-btn">
            ارسال
        </button>

    </form>

    <div id="direct-contact">
        راه ارتباطی مستقیم:
        prkgroup.ir [at] gmail.com
        <br/>
        0936-753-5577
    </div>

</div>
<script src="/static/intro/cbpFWTabs.js"></script>
<script>
    (function () {

        [].slice.call(document.querySelectorAll('.tabs')).forEach(function (el) {
            new CBPFWTabs(el);
        });

    })();
</script>
<script src="/static/intro/TweenLite.min.js"></script>
<script src="/static/intro/EasePack.min.js"></script>
<script src="/static/intro/demo-1.js"></script>
</body>
</html>