{% extends 'base.html' %}

{% block extra_js %}
     <script src="/static/js/list_mahsool.js"></script>
    {% endblock %}
 {% block extra_css %}
      <link rel="stylesheet" href="/static/css/list_mahsool.css">
    {% endblock %}

{% block content %}
<div class="ui grid ">
    <div class="four column row ">


        <div class="column center aligned box-padding">
            <div class="ui segment center aligned box-segment">
                <a class="no-pad ui red right ribbon label  label1">
                    <span>
                        کار های من :
                    </span>
                    54
                </a>

                <div class="center aligned box-pic">
                    <img class="ui medium circular image center aligned "
                         src="/static/images/T1_NPic(4040e.ir)_1401258282.jpg">
                </div>

                <div class="ui divider"></div>
                <div class="ui equal width center aligned grid ">
                    <div class="row" style="background-color: #869D05;color: #FFFFFF;">
                        <div class="column teal">Custom Row</div>
                    </div>
                    <div class="row">

                        <div class="yellow column">
                            Olive
                        </div>

                        <div class="green column">
                            Black
                        </div>
                    </div>
                    <div class="row" style="background-color: #869D05;color: #FFFFFF;">
                        <div class="column red">Custom Row</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="column center aligned box-padding">
            <div class="ui segment center aligned box-segment">
                <a class="ui red right ribbon label no-pad label1">
                    <span>
                        کار های من :
                    </span>
                    54
                </a>

                <div class="center aligned box-pic">
                    <img class="ui medium circular image center aligned "
                         src="/static/images/T1_NPic(4040e.ir)_1401258282.jpg">
                </div>

                <div class="ui divider"></div>
                <div class="ui equal width center aligned grid ">
                    <div class="row" style="background-color: #869D05;color: #FFFFFF;">
                        <div class="column teal">Custom Row</div>
                    </div>
                    <div class="row">

                        <div class="yellow column">
                            Olive
                        </div>

                        <div class="green column">
                            Black
                        </div>
                    </div>
                    <div class="row" style="background-color: #869D05;color: #FFFFFF;">
                        <div class="column red">Custom Row</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="column center aligned box-padding">
            <div class="ui segment center aligned box-segment">
                <a class="ui red right ribbon label no-pad label1">
                    <span>
                        کار های من :
                    </span>
                    54
                </a>

                <div class="center aligned box-pic">
                    <img class="ui medium circular image center aligned "
                         src="/static/images/T1_NPic(4040e.ir)_1401258282.jpg">
                </div>

                <div class="ui divider"></div>
                <div class="ui equal width center aligned grid ">
                    <div class="row" style="background-color: #869D05;color: #FFFFFF;">
                        <div class="column teal">Custom Row</div>
                    </div>
                    <div class="row">

                        <div class="yellow column">
                            Olive
                        </div>

                        <div class="green column">
                            Black
                        </div>
                    </div>
                    <div class="row" style="background-color: #869D05;color: #FFFFFF;">
                        <div class="column red">Custom Row</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="column center aligned box-padding">
            <div class="ui segment center aligned box-segment">
                <a class="ui red right ribbon label no-pad label1">
                    <span>
                        کار های من :
                    </span>
                    54
                </a>

                <div class="center aligned box-pic">
                    <img class="ui medium circular image center aligned "
                         src="/static/images/T1_NPic(4040e.ir)_1401258282.jpg">
                </div>

                <div class="ui divider"></div>
                <div class="ui equal width center aligned grid ">
                    <div class="row" style="background-color: #869D05;color: #FFFFFF;">
                        <div class="column teal">Custom Row</div>
                    </div>
                    <div class="row">

                        <div class="yellow column">
                            Olive
                        </div>

                        <div class="green column">
                            Black
                        </div>
                    </div>
                    <div class="row" style="background-color: #869D05;color: #FFFFFF;">
                        <div class="column red">Custom Row</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="column center aligned box-padding">
            <div class="ui segment center aligned box-segment">
                <a class="ui red right ribbon label no-pad label1">
                    <span>
                        کار های من :
                    </span>
                    54
                </a>

                <div class="center aligned box-pic">
                    <img class="ui medium circular image center aligned "
                         src="/static/images/T1_NPic(4040e.ir)_1401258282.jpg">
                </div>

                <div class="ui divider"></div>
                <div class="ui equal width center aligned grid ">
                    <div class="row" style="background-color: #869D05;color: #FFFFFF;">
                        <div class="column teal">Custom Row</div>
                    </div>
                    <div class="row">

                        <div class="yellow column">
                            Olive
                        </div>

                        <div class="green column">
                            Black
                        </div>
                    </div>
                    <div class="row" style="background-color: #869D05;color: #FFFFFF;">
                        <div class="column red">Custom Row</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="column center aligned box-padding">
            <div class="ui segment center aligned box-segment">
                <a class="ui red right ribbon label no-pad label1">
                    <span>
                        کار های من :
                    </span>
                    54
                </a>

                <div class="center aligned box-pic">
                    <img class="ui medium circular image center aligned "
                         src="/static/images/T1_NPic(4040e.ir)_1401258282.jpg">
                </div>

                <div class="ui divider"></div>
                <div class="ui equal width center aligned grid ">
                    <div class="row" style="background-color: #869D05;color: #FFFFFF;">
                        <div class="column teal">Custom Row</div>
                    </div>
                    <div class="row">

                        <div class="yellow column">
                            Olive
                        </div>

                        <div class="green column">
                            Black
                        </div>
                    </div>
                    <div class="row" style="background-color: #869D05;color: #FFFFFF;">
                        <div class="column red">Custom Row</div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


{% endblock %}