{% extends "base.html" %}
{% block content %}
    <div class="three column stackable ui grid tahoma center aligned">
        <div class="seven wide column">
            <form class="ui form segment right aligned" method="post" action="">{% csrf_token %}
                {% if form.errors %}
                    <div>{{ form.errirs }}</div>
                {% endif %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="ui field red">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                <div class="field">
                    <label>
                        نام کاربری
                    </label>

                    <div class="ui corner labeled left icon input">
                        <input type="text" name="username" id="id_username" placeholder="نام کاربری"/>
                        <i class="user icon"></i>

                        <div class="ui corner label">
                            <i class="icon asterisk"></i>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>گذرواژه</label>

                    <div class="ui corner labeled left icon input">
                        <input type="password" name="password" id="id_password" placeholder="گذرواژه"/>
                        <i class="lock icon"></i>

                        <div class="ui corner label">
                            <i class="icon asterisk"></i>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="next" value="{{ next }}"/>

                <div class="ui error message">
                    <div class="header">We noticed some issues</div>
                </div>
                <div class="ui blue submit button">ورود</div>
            </form>
        </div>
    </div>
{% endblock %}
