{% extends 'base.html' %}

{% block extra_js %}
     <script src="/static/js/mahsool.js"></script>
    {% endblock %}
 {% block extra_css %}
      <link rel="stylesheet" href="/static/css/mahsool.css">
    {% endblock %}

{% block content %}
<div class="ui segment main-segment" >
<div class="ui grid  ">
    <div class="three column row ">
        <div class="column " style="padding: 50px;">
            <div class="ui segment ">
                <div class="ui grid">
                    <div class="sixteen wide column center aligned">
                        <div class="ui label  teal big">
                            <i class="bar chart icon"></i>
                            23
                            <a class="detail">
                                آمار
                            </a>
                        </div>
                    </div>
                    <div class="sixteen wide column ">
                        <div class="ui segment minheight directionltr">
                            <a class="ui orange right ribbon label">
                                توضیح مختصر
                            </a>

                            <p class="directionrtl font">

                                همچنین مدیرکل ارشاد اسلامی خراسان رضوی با حضور در خانه این مرحوم درگذشت محسن حاجی‌حسنی
                                کارگر را به
                                خانواده وی تسلیت گفت .سرابی درحاشیه این دیدار گفت: مرحوم حسنی کارگر، نقطه افتخاری برای
                                جهان اسلام
                                بود و
                                در منش و اخلاق و سجایای اخلاقی سرآمد جوانان بود و متأسفانه این جوان برجسته و نخبه قرآنی
                                در آتش
                                بی‌تدبیری
                                و سوء مدیریت و اهمال آل سعود در منا به لقا ا... پیوست.همچنین، دکتر احمد نعینع قاری
                                برجسته جهان اسلام
                                با
                            </p>

                        </div>
                    </div>
                    <div class="sixteen wide column ">
                        <div class="ui segment minheight directionltr">
                            <a class="ui orange right ribbon label">
                                توضیحات کامل
                            </a>

                            <p class="directionrtl font">

                                همچنین مدیرکل ارشاد اسلامی خراسان رضوی با حضور در خانه این مرحوم درگذشت محسن حاجی‌حسنی
                                کارگر را به
                                خانواده وی تسلیت گفت .سرابی درحاشیه این دیدار گفت: مرحوم حسنی کارگر، نقطه افتخاری برای
                                جهان اسلام
                                بود و
                                در منش و اخلاق و سجایای اخلاقی سرآمد جوانان بود و متأسفانه این جوان برجسته و نخبه قرآنی
                                در آتش
                                بی‌تدبیری
                                و سوء مدیریت و اهمال آل سعود در منا به لقا ا... پیوست.همچنین، دکتر احمد نعینع قاری
                                برجسته جهان اسلام
                                با
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column" style="padding-top: 50px;">
            <div class="ui grid">
                <div class="sixteen wide column center aligned">
                    <div class="ui card " style="margin: 0 auto">
                        <div class="image">
                            <img src="/static/images/Clash-of-Clans1.jpg" style="padding: 10px;">
                        </div>
                        <div class="ui equal width center aligned padded grid padded">
                            <div class="row">
                                <div class="olive column">
                                    Olive
                                </div>
                                <div class="black column">
                                    Black
                                </div>
                            </div>
                            <div class="row" style="background-color: #869D05;color: #FFFFFF;">
                                <div class="column">Custom Row</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sixteen wide column center aligned">
                    <img class="ui medium circular image" src="/static/images/T1_NPic(4040e.ir)_1401258282.jpg"
                         style="margin: 0 auto ">
                </div>

            </div>
        </div>
        <div class="column" style="padding: 50px;">
            <div class="ui segment minheight1 "></div>
        </div>
    </div>
    <div class="sixteen wide column segment-bottom-padding">
        <div class="ui segment">
            <div class="ui grid">
                <div class="one wide column">
                    <i class="arrow circle right icon huge slide1-icon-left slider-operation-right"></i>
                </div>
                <div class="fourteen wide column">
                    <div class="slider1 slider-opreration"  >
                        <div class="center aligned slider1-item">
                            <div class="ui medium images">

                                <img src="/static/images/cafe.jpg">


                            </div>
                        </div>
                        <div class="center aligned slider1-item">
                            <div class="ui medium images">

                                <img src="/static/images/cafe.jpg">


                            </div>
                        </div>
                        <div class="center aligned slider1-item">
                            <div class="ui medium images">

                                <img src="/static/images/cafe.jpg">


                            </div>
                        </div>
                        <div class="center aligned slider1-item">
                            <div class="ui medium images">

                                <img src="/static/images/cafe.jpg">


                            </div>
                        </div>
                        <div class="center aligned slider1-item">
                            <div class="ui medium images">

                                <img src="/static/images/cafe.jpg">


                            </div>
                        </div>
                        <div class="center aligned slider1-item">
                            <div class="ui medium images">

                                <img src="/static/images/cafe.jpg">


                            </div>
                        </div>
                        <div class="center aligned slider1-item">
                            <div class="ui medium images">

                                <img src="/static/images/cafe.jpg">


                            </div>
                        </div>




                    </div>

                </div>
                <div class="one wide column">
                    <i class="arrow circle left icon huge slide1-icon-right slide2-icon-right slider-operation-left" ></i>
                </div>

            </div>
        </div>
    </div>
    <div class="sixteen wide column segment-bottom-padding">
        <div class="ui segment">
            <div class="ui grid">
                <div class="one wide column">
                    <i class="arrow circle right icon huge segment-card-icons slider-operation-right cursor"></i>
                </div>
                <div class="fourteen wide column">
                    <div class="slider2 slider-opreration" >

                        <div class="center aligned slider2-item">
                            <div class="ui link cards center aligned slider2-item-cards">

                                <div class="card center aligned segment-card-centercards slider2-item-cards">
                                    <div class="image card-pic-padding center aligned">
                                        <img src="/static/images/Capture.PNG" >
                                    </div>

                                    <div class="ui equal width center aligned padded grid padded">
                                        <div class="row">
                                            <div class="olive column">
                                                Olive
                                            </div>
                                            <div class="black column">
                                                Black
                                            </div>
                                        </div>
                                        <div class="ui divider"></div>
                                        <div class="row">
                                            <div class="olive column">
                                                Olive
                                            </div>
                                            <div class="black column">
                                                Black
                                            </div>
                                        </div>
                                        <div class="ui divider"></div>
                                        <div class="row">
                                            <div class="olive column">
                                                Olive
                                            </div>
                                            <div class="black column">
                                                Black
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="center aligned slider2-item">
                            <div class="ui link cards center aligned slider2-item-cards">

                                <div class="card center aligned segment-card-centercards slider2-item-cards">
                                    <div class="image card-pic-padding center aligned">
                                        <img src="/static/images/Capture.PNG" >
                                    </div>

                                    <div class="ui equal width center aligned padded grid padded">
                                        <div class="row">
                                            <div class="olive column">
                                                Olive
                                            </div>
                                            <div class="black column">
                                                Black
                                            </div>
                                        </div>
                                        <div class="ui divider"></div>
                                        <div class="row">
                                            <div class="olive column">
                                                Olive
                                            </div>
                                            <div class="black column">
                                                Black
                                            </div>
                                        </div>
                                        <div class="ui divider"></div>
                                        <div class="row">
                                            <div class="olive column">
                                                Olive
                                            </div>
                                            <div class="black column">
                                                Black
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="center aligned slider2-item">
                            <div class="ui link cards center aligned slider2-item-cards">

                                <div class="card center aligned segment-card-centercards slider2-item-cards">
                                    <div class="image card-pic-padding center aligned">
                                        <img src="/static/images/Capture.PNG" >
                                    </div>

                                    <div class="ui equal width center aligned padded grid padded">
                                        <div class="row">
                                            <div class="olive column">
                                                Olive
                                            </div>
                                            <div class="black column">
                                                Black
                                            </div>
                                        </div>
                                        <div class="ui divider"></div>
                                        <div class="row">
                                            <div class="olive column">
                                                Olive
                                            </div>
                                            <div class="black column">
                                                Black
                                            </div>
                                        </div>
                                        <div class="ui divider"></div>
                                        <div class="row">
                                            <div class="olive column">
                                                Olive
                                            </div>
                                            <div class="black column">
                                                Black
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="center aligned slider2-item">
                            <div class="ui link cards center aligned slider2-item-cards">

                                <div class="card center aligned segment-card-centercards slider2-item-cards">
                                    <div class="image card-pic-padding center aligned">
                                        <img src="/static/images/Capture.PNG" >
                                    </div>

                                    <div class="ui equal width center aligned padded grid padded">
                                        <div class="row">
                                            <div class="olive column">
                                                Olive
                                            </div>
                                            <div class="black column">
                                                Black
                                            </div>
                                        </div>
                                        <div class="ui divider"></div>
                                        <div class="row">
                                            <div class="olive column">
                                                Olive
                                            </div>
                                            <div class="black column">
                                                Black
                                            </div>
                                        </div>
                                        <div class="ui divider"></div>
                                        <div class="row">
                                            <div class="olive column">
                                                Olive
                                            </div>
                                            <div class="black column">
                                                Black
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="center aligned slider2-item">
                            <div class="ui link cards center aligned slider2-item-cards">

                                <div class="card center aligned segment-card-centercards slider2-item-cards">
                                    <div class="image card-pic-padding center aligned">
                                        <img src="/static/images/Capture.PNG" >
                                    </div>

                                    <div class="ui equal width center aligned padded grid padded">
                                        <div class="row">
                                            <div class="olive column">
                                                Olive
                                            </div>
                                            <div class="black column">
                                                Black
                                            </div>
                                        </div>
                                        <div class="ui divider"></div>
                                        <div class="row">
                                            <div class="olive column">
                                                Olive
                                            </div>
                                            <div class="black column">
                                                Black
                                            </div>
                                        </div>
                                        <div class="ui divider"></div>
                                        <div class="row">
                                            <div class="olive column">
                                                Olive
                                            </div>
                                            <div class="black column">
                                                Black
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        </div>

                    </div>
                <div class="one wide column">
                    <i class="arrow circle left icon huge segment-card-icons slider-operation-left cursor"></i>
                </div>
                </div>


            </div>
        </div>
    </div>
</div>

{% endblock %}