{% extends 'base.html' %}

{% block extra_js %}
     <script src="/static/js/project.js"></script>
    {% endblock %}
 {% block extra_css %}
      <link rel="stylesheet" href="/static/css/project.css">
    {% endblock %}

{% block content %}


<div class=" ui grid sixteen column  padded ">
    <div class=" six wide column center aligned">

        <div class="ui green labeled icon button huge top-button1">
            <i class="edit icon"></i>
            نام پروژه
        </div>
    </div>
    <div class=" ten wide column center aligned">

        <div class="ui compact green inverted menu big header-top-buttons-left ">
            <a class="item center aligned header-top-buttons2-left1">
                <span style="margin: 0 auto">
               تاریخ
            </span></a>

            <a class="item header-top-buttons2-left1">
 <span style="margin: 0 auto">
ماهیت
            </span>


            </a>
            <a class="item header-top-buttons2-left1 ">
 <span style="margin: 0 auto">
وضعیت
            </span>

            </a>
        </div>
    </div>


</div>
<div class="ui grid padded ">
    <div class="twelve wide column">
        <div class="ui grid padded">

            <div class="eight wide column lefttable1">
                <div class="ui segment">
                    <div class="ui segments">
                        <div class="ui segment">
                            <div class="ui grid ">

                                <div class="ten wide column center aligned   ">

                                    آخرین مستندات پروژه


                                </div>
                                <div class="six wide column right aligned">
                                    <div class="ui teal  button ">
                                        ورود به بخش
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="ui red segment">

                        <div class="ui grid ">
                            <div class="one wide column">

                            </div>
                            <div class="thirteen wide column center aligned   ">
                                <div class="ui  teal  button button1 righttable-top-buttons">
                                    آخرین کارهای پروژه
                                </div>
                            </div>
                            <div class="one wide column">

                            </div>
                        </div>
                    </div>
                    <div class="ui blue segment">

                        <div class="ui grid ">
                            <div class="one wide column">

                            </div>
                            <div class="thirteen wide column center aligned   ">
                                <div class="ui  teal  button button1 righttable-top-buttons ">
                                    آخرین کارهای پروژه
                                </div>
                            </div>
                            <div class="one wide column">

                            </div>
                        </div>
                    </div>
                    <div class="ui green segment">
                        <div class="ui grid ">
                            <div class="one wide column">

                            </div>
                            <div class="thirteen wide column center aligned   ">
                                <div class="ui  teal  button button1 righttable-top-buttons ">
                                    آخرین کارهای پروژه
                                </div>
                            </div>
                            <div class="one wide column">

                            </div>
                        </div>
                    </div>
                    <div class="ui yellow segment">
                        <div class="ui grid ">
                            <div class="one wide column">

                            </div>
                            <div class="thirteen wide column center aligned   ">
                                <div class="ui  teal  button button1 righttable-top-buttons ">
                                    آخرین کارهای پروژه
                                </div>
                            </div>
                            <div class="one wide column">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="eight wide column lefttable1">
                <div class="ui segment">
                    <div class="ui segments">
                        <div class="ui segment">
                            <div class="ui grid ">
                                <div class="ten wide column center aligned   ">

                                    آخرین مستندات پروژه


                                </div>
                                <div class="six wide column right aligned">
                                    <div class="ui teal  button ">
                                        ورود به بخش
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="ui red segment">

                        <div class="ui grid ">
                            <div class="ten wide column center aligned   ">
                                <div class="ui  teal  button button1">
                                    آخرین مستندات پروژه

                                </div>
                            </div>
                            <div class="six wide column right aligned">
                                <div class="ui teal labeled icon button ">
                                    <i class="download icon"></i>
                                    دانلود
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui blue segment">

                        <div class="ui grid ">
                            <div class="ten wide column center aligned   ">
                                <div class="ui  teal  button button1">
                                    آخرین مستندات پروژه

                                </div>
                            </div>
                            <div class="six wide column right aligned">
                                <div class="ui teal labeled icon button ">
                                    <i class="download icon"></i>
                                    دانلود
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui green segment">
                        <div class="ui grid ">
                            <div class="ten wide column center aligned   ">
                                <div class="ui  teal  button button1">
                                    آخرین مستندات پروژه

                                </div>
                            </div>
                            <div class="six wide column right aligned">
                                <div class="ui teal labeled icon button ">
                                    <i class="download icon"></i>
                                    دانلود
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui yellow segment">
                        <div class="ui grid ">
                            <div class="ten wide column center aligned   ">
                                <div class="ui  teal  button button1">
                                    آخرین مستندات پروژه

                                </div>
                            </div>
                            <div class="six wide column right aligned">
                                <div class="ui teal labeled icon button ">
                                    <i class="download icon"></i>
                                    دانلود
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="eight wide column lefttable1">
                <div class="ui segment">
                    <div class="ui segments">
                        <div class="ui segment">
                            <div class="ui grid ">
                                <div class="eight wide column center aligned   righttable-bottom-buttons">
                                    نسخه های پروژه


                                </div>
                                <div class="eight wide column center aligned">
                                    <div class="ui teal  button righttable-bottom-buttons">
                                        ورود
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="ui red segment">

                        <div class="ui grid ">
                            <div class="eight wide column center aligned   ">
                                <div class="ui  teal  button righttable-bottom-buttons">
                                    پروژه

                                </div>
                            </div>
                            <div class="eight wide column center aligned">
                                <div class="ui teal  button righttable-bottom-buttons ">

                                    ورود
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui blue segment">

                        <div class="ui grid ">
                            <div class="eight wide column center aligned   ">
                                <div class="ui  teal  button righttable-bottom-buttons">
                                    آخرین مستندات پروژه

                                </div>
                            </div>
                            <div class="eight wide column center aligned">
                                <div class="ui teal  button righttable-bottom-buttons ">

                                    دانلود
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui green segment">
                        <div class="ui grid ">
                            <div class="eight wide column center aligned   ">
                                <div class="ui  teal  button righttable-bottom-buttons">
                                    آخرین مستندات پروژه

                                </div>
                            </div>
                            <div class="eight wide column center aligned">
                                <div class="ui teal  button righttable-bottom-buttons ">

                                    دانلود
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui yellow segment">
                        <div class="ui grid ">
                            <div class="eight wide column center aligned   ">
                                <div class="ui  teal  button righttable-bottom-buttons">
                                    آخرین مستندات پروژه

                                </div>
                            </div>
                            <div class="eight wide column center aligned">
                                <div class="ui teal  button righttable-bottom-buttons ">

                                    دانلود
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="eight wide column lefttable1">
                <div class="ui segment">
                    <div class="ui segments">
                        <div class="ui segment">
                            <div class="ui grid ">
                                <div class="ten wide column center aligned   ">

                                    زمانبندی

                                </div>
                                <div class="six wide column right aligned">
                                    <div class="ui teal  button ">
                                        ورود
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="ui red segment">

                        <div class="ui grid ">
                            <div class="sixteen wide column center aligned">
                                <div class="ui  teal  button  huge lefttable-bottom">
                                    آخرین زمانبندی
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
            <div class="sixteen wide column">
                <div class="ui segment seg-slider">
                    <div class="ui grid center aligned">
                        <div class="one wide column">
                            <i class="arrow circle right icon huge slide-icon-right slider-operation-right"></i>
                        </div>


                        <div class="fourteen wide column">
                            <div class="slider slider-opreration">
                                <div class=" center aligned slider-item">
                                    <img class="ui circular image center-margin"
                                         src="images/members/T1_NPic(4040e.ir)_1401258282.jpg">
                                </div>
                                <div class="center aligned slider-item">
                                    <img class="ui circular image center-margin"
                                         src="images/members/T1_NPic(4040e.ir)_1401258282.jpg">
                                </div>
                                <div class="center aligned slider-item">
                                    <img class="ui circular image center-margin"
                                         src="images/members/T1_NPic(4040e.ir)_1401258282.jpg">
                                </div>
                                <div class="center aligned slider-item">
                                    <img class="ui circular image center-margin"
                                         src="images/members/T1_NPic(4040e.ir)_1401258282.jpg">
                                </div>
                                <div class="center aligned slider-item">
                                    <img class="ui circular image center-margin"
                                         src="images/members/T1_NPic(4040e.ir)_1401258282.jpg">
                                </div>
                                <div class="center aligned slider-item">
                                    <img class="ui circular image center-margin"
                                         src="images/members/T1_NPic(4040e.ir)_1401258282.jpg">
                                </div>
                                <div class="center aligned slider-item">
                                    <img class="ui circular image center-margin"
                                         src="images/members/T1_NPic(4040e.ir)_1401258282.jpg">
                                </div>

                            </div>

                        </div>
                        <div class="one wide column">
                            <i class="arrow circle left icon huge slide-icon-left slider-operation-left "></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="four wide column chat-padding">
        <div class="ui segment chat-height">
            <div class="ui grid">
                <div class="three wide column center aligned">
                    <div>
                        <img class="ui mini circular image " src="images/members/T1_NPic(4040e.ir)_1401258282.jpg">
                    </div>
                </div>
                <div class="thirteen wide column right aligned directionrtl">
                    با سلام خدمت همگی
                </div>
            </div>
            <div class="ui grid">
                <div class="three wide column center aligned">
                    <div>
                        <img class="ui mini circular image " src="images/members/T1_NPic(4040e.ir)_1401258282.jpg">
                    </div>
                </div>
                <div class="thirteen wide column right aligned directionrtl">
                    با سلام خدمت همگی
                </div>
            </div>
            <div class="ui grid">
                <div class="three wide column center aligned">
                    <div>
                        <img class="ui mini circular image " src="images/members/T1_NPic(4040e.ir)_1401258282.jpg">
                    </div>
                </div>
                <div class="thirteen wide column right aligned directionrtl">
                    با سلام خدمت همگی
                </div>
            </div>

            <div class="ui grid">
                <div class="thirteen wide column left aligned">
            <span style="direction: ltr">
با سلام خدمت همگی
        </span></div>
                <div class="three wide column center aligned">
                    <div>
                        <img class="ui mini circular image " src="images/members/T1_NPic(4040e.ir)_1401258282.jpg">
                    </div>
                </div>
            </div>
            <div class="ui grid chat-bottom ">
                <div class="eleven wide column left aligned">
                    <textarea style="width: 250px;height: 50px;" class="directionrtl"></textarea>
                </div>
                <div class="five wide column right aligned">
                    <button style="width: 93px; height: 50px;" class="positive ui button">send</button>
                </div>
                <div class="sixteen wide column center aligned">
                    <div class="ui green labeled icon button huge">
                        <i class="sign in icon"></i>
                        ورود به تالار
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}