{% extends 'base.html' %}

{% block extra_js %}
     <script src="/static/js/talk.js"></script>
    {% endblock %}
 {% block extra_css %}
      <link rel="stylesheet" href="/static/css/talk.css">
    {% endblock %}

{% block content %}

<div class="ui grid">
    <div class="two wide column "></div>
    <div class="twelve wide column">
        <div class="ui segment">
            <div class="ui grid">
                <div class="ten wide column ">
                    <div class="ui grid">
                        <div class="sixteen wide column" style="background-color: #8f1eb4">
                            <div class="ui grid">
                                <div class="five wide column"></div>
                                <div class="five wide column"></div>
                                <div class="two wide column">

                                    <span class="display">members</span>
                                    <span class="display">7</span>
                                </div>
                                <div class="four wide column center aligned">
                                    c++ group
                                </div>
                            </div>
                        </div>
                        <div class="sixteen wide column">
                            <div class="ui grid">

                                <div class="two wide column left aligned">
                                    <img class="ui circular image" src="images/members/T1_NPic(4040e.ir)_1401258282.jpg" width="50px" height="50px">
                                </div>
                                <div class="twelve wide column">
                                <span style="font-size: large">

این دیوانگی‌ست
که از همه گلهای رُز
تنها بخاطر اینکه
خار یکی از آنها در دستمان فرو رفته
متنفر باشیم

که همه رویاهای خود را
تنها بخاطر اینکه
یکی از آنها به حقیقت نپیوسته
رها کنیم

که امید خود را
به همه چیز از دست بدهیم
بخاطر اینکه
در زندگی با شکست مواجه شده ایم

که از تلاش و کوشش دست بکشیم
بخاطر اینکه
یکی از کارهایمان بی نتیجه مانده است

که همه دستهایی را که
برای دوستی بسوی ما دراز می شوند
بخاطر اینکه
یکی از دوستانمان رابطه مان را
زیر پا گذاشته است رد کنیم

که هیچ عشقی را باور نکنیم
بخاطر اینکه
در یکی از آنها به ما خیانت شده است

که همه شانس ها را لگدمال کنیم
بخاطر اینکه
در یکی از تلاشهایمان ناکام مانده ایم

به امید اینکه در مسیر خود
هرگز دچار این دیوانگی ها نشویم
و به یاد داشته باشیم
که همیشه
شانس های دیگر
دوستی های دیگر
عشق های دیگر
نیروهای دیگر
و افق های بهتری هم هستند
                                </span>
                                </div>
                            </div>
                            <div class="ui grid">

                                <div class="two wide column left aligned">
                                    <img class="ui circular image" src="images/members/T1_NPic(4040e.ir)_1401258282.jpg" width="50px" height="50px">
                                </div>
                                <div class="twelve wide column">
                                <span style="font-size: large">

این دیوانگی‌ست
که از همه گلهای رُز
تنها بخاطر اینکه
خار یکی از آنها در دستمان فرو رفته
متنفر باشیم

که همه رویاهای خود را
تنها بخاطر اینکه
یکی از آنها به حقیقت نپیوسته
رها کنیم

که امید خود را
به همه چیز از دست بدهیم
بخاطر اینکه
در زندگی با شکست مواجه شده ایم

که از تلاش و کوشش دست بکشیم
بخاطر اینکه
یکی از کارهایمان بی نتیجه مانده است

که همه دستهایی را که
برای دوستی بسوی ما دراز می شوند
بخاطر اینکه
یکی از دوستانمان رابطه مان را
زیر پا گذاشته است رد کنیم

که هیچ عشقی را باور نکنیم
بخاطر اینکه
در یکی از آنها به ما خیانت شده است

که همه شانس ها را لگدمال کنیم
بخاطر اینکه
در یکی از تلاشهایمان ناکام مانده ایم

به امید اینکه در مسیر خود
هرگز دچار این دیوانگی ها نشویم
و به یاد داشته باشیم
که همیشه
شانس های دیگر
دوستی های دیگر
عشق های دیگر
نیروهای دیگر
و افق های بهتری هم هستند
                                </span>
                                </div>
                            </div>
                            <div class="ui grid">

                                <div class="two wide column left aligned"></div>
                                <div class="twelve wide column">
                                <span style="font-size: large">

این دیوانگی‌ست
که از همه گلهای رُز
تنها بخاطر اینکه
خار یکی از آنها در دستمان فرو رفته
متنفر باشیم

که همه رویاهای خود را
تنها بخاطر اینکه
یکی از آنها به حقیقت نپیوسته
رها کنیم

که امید خود را
به همه چیز از دست بدهیم
بخاطر اینکه
در زندگی با شکست مواجه شده ایم

که از تلاش و کوشش دست بکشیم
بخاطر اینکه
یکی از کارهایمان بی نتیجه مانده است

که همه دستهایی را که
برای دوستی بسوی ما دراز می شوند
بخاطر اینکه
یکی از دوستانمان رابطه مان را
زیر پا گذاشته است رد کنیم

که هیچ عشقی را باور نکنیم
بخاطر اینکه
در یکی از آنها به ما خیانت شده است

که همه شانس ها را لگدمال کنیم
بخاطر اینکه
در یکی از تلاشهایمان ناکام مانده ایم

به امید اینکه در مسیر خود
هرگز دچار این دیوانگی ها نشویم
و به یاد داشته باشیم
که همیشه
شانس های دیگر
دوستی های دیگر
عشق های دیگر
نیروهای دیگر
و افق های بهتری هم هستند
                                </span>
                                </div>
                                <div class="two wide column left aligned">
                                    <img class="ui circular image" src="images/members/T1_NPic(4040e.ir)_1401258282.jpg" width="50px" height="50px">
                                </div>
                            </div>
                        </div>

                        <div class="sixteen wide column">
                            <div class="ui grid">
                                <div class="two wide column">
                                    <i class="send outline icon huge purple"></i>
                                </div>
                                <div class="fourteen wide column">
                                    <textarea rows="2" class="directionrtl" style="width: 100%;height: 70px;"></textarea>
                                </div>
                            </div>


                        </div>
                    </div>


                </div>
                <div class="six wide column center aligned ">
                    <div></div>
                    <div class="ui grid">
                        <div class="one wide column ">
                            <div style="height: 100%;border: 2px solid black;"></div>
                        </div>
                        <div class="fourteen wide column ">
                            <div class="ui grid">
                                <div class="sixteen wide column ">
                                    <div class="ui fluid category search">
                                        <div class="ui icon input" style="width: 90%">
                                            <input class="prompt" placeholder="Search..." type="text">
                                            <i class="search icon"></i>
                                        </div>
                                        <div class="results"></div>
                                    </div>
                                </div>
                                <div class="sixteen wide column">
                                    <div class="ui grid">
                                        <div class="four wide column"></div>
                                        <div class="eight wide column">
                                            <div style="font-size: x-large">
                                                دانیال
                                            </div>
                                        </div>
                                        <div class="four wide column">
                                            <img class="ui medium circular image"
                                                 src="images/members/T1_NPic(4040e.ir)_1401258282.jpg">
                                        </div>

                                    </div>
                                    <div class="ui divider"></div>
                                    <div class="ui grid">
                                        <div class="four wide column"></div>
                                        <div class="eight wide column"></div>
                                        <div class="four wide column">
                                            <img class="ui medium circular image"
                                                 src="images/members/T1_NPic(4040e.ir)_1401258282.jpg">
                                        </div>

                                    </div>
                                    <div class="ui divider"></div>
                                    <div class="ui grid">
                                        <div class="four wide column"></div>
                                        <div class="eight wide column"></div>
                                        <div class="four wide column">
                                            <img class="ui medium circular image"
                                                 src="images/members/T1_NPic(4040e.ir)_1401258282.jpg">
                                        </div>

                                    </div>
                                    <div class="ui divider"></div>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="two wide column "></div>

</div>



{% endblock %}