<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="user-scalable = yes">

    <title>PRK | پردازش رایانه کرمان</title>
    <meta name="description" content="گروه PRK فعال در زمینه وب اپلیکیشن ها و نرم افزارهای اندروید"/>
    <meta name="keywords"
          content="web, android, app, prk, infinity, prk group, kerman group, programming kerman group"/>
    <meta name="author" content="Codrops"/>
    <link rel="shortcut icon" href="/static/images/fav.ico">

    <script src="/static/js/jquery.min.js"></script>

    <link rel="stylesheet" href="/static/jquery/jquery.fullPage.css">
    <script src="/static/jquery/jquery.fullPage.min.js"></script>
    <script src="/static/del/del.js"></script>
    <link rel="stylesheet" href="/static/del/del.css">


</head>
<body>

<div id="fullpage">
    <div id="section1" class="section dsp">
        <div class="intro section1-position">

            <img src="/static/del/delneveshteh-logo.png" alt="Smiley face" width="" height="">


        </div>

    </div>
    <div id="section2" class="section dsp">
        <p class="section2-text">
            دل نوشته نرم افزاری برای ثبت حرف های دلتون ، پیام های اموزنده و زیبای شما است.
        </p>

        <p class="section2-text">

            پیامک، شعر، متن و هر چی که دوست داشتید رو با بقیه می تونید به اشتراک بذارید. </p>

        <p class="section2-text">
            این نرم افزار شبکه اجتماعی نیست، صرفا صفحه ای برای ثبت دل نوشته هاتونه.
        </p>

    </div>
    <div id="section6" class="section dsp">
        <div class="wrap">
            <div class="section6-text">
                <div class="section6-text1">
                    نمایی از برنامه
                </div>
            </div>
            <div class="imgsContainer" style="margin-top: -100px;">
                <img src="/static/del/mobile1.png" alt="iphone" id="iphone2" style="margin-left: 300px;"/>
                <img src="/static/del/mobile2.png" alt="iphone" id="iphone3" style="margin-left: 450px;"/>
                <img style="margin-left: 460px;" src="/static/del/22.png" alt="iphone" id="iphone4"/>

            </div>

        </div>


    </div>

    <div id="section3" class="section dsp">
        <p class="logopage-text">
            دیگر ساخته های ما
        </p>

        <div class="intro display1">
            <img src="/static/del/product-top.png" alt="Smiley face" width="80%" height="">


        </div>
        <div class="intro1 display1 product-buttom-logo">
            <img src="/static/del/product-buttom.png" alt="Smiley face" width="80%" height="">

        </div>


    </div>
    <div id="section4" class="section dsp">
        <div class="section4-box">
            <div class="section4-box-text">
                تماس با ما
            </div>


            <div class="contact message hidden">
                پیام شما با موفقیت ارسال شد.
            </div>


            <div style="width: 100%">
                <input type="text" name="FirstName" class="section4-in1" style="direction: rtl;" placeholder="ایمیل" id="contact-email">
            </div>
            <div>
                <textarea class=" section4-in2" placeholder="ارسال نظر" name="comment" id="contact-text"></textarea>

            </div>
            <div>
                <input type="submit" value="ارسال پیام" class="section4-button send-btn">
            </div>
        </div>
    </div>
</div>
</body>
</html>