<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PRK | پردازش رایانه کرمان</title>
    <meta name="description" content="گروه PRK فعال در زمینه وب اپلیکیشن ها و نرم افزارهای اندروید"/>
    <meta name="keywords"
          content="web, android, app, prk, infinity, prk group, kerman group, programming kerman group"/>
    <meta name="author" content="Codrops"/>
    <link rel="shortcut icon" href="/static/images/fav.ico">

    <script src="/static/js/jquery.min.js"></script>

    <link rel="stylesheet" href="/static/jquery/jquery.fullPage.css">
    <script src="/static/jquery/jquery.fullPage.min.js"></script>

    <script src="/static/finite/finite.js"></script>
    <link rel="stylesheet" href="/static/finite/finite.css">


</head>
<body>

<div id="fullpage">
    <div id="section1" class="section dsp">
        <div class="intro section1-logo">

            <img src="/static/finite/Untitled-2.png" alt="Smiley face" width="100%" height="">


        </div>
        <div class="section1-text">
            <img src="/static/finite/Untitled-21.png" alt="Smiley face" width="100%" height="">

        </div>

    </div>
    <div id="section2" class="section dsp">
        <p class="section2-text">
            بی نهایت هیجان رو با بازی بی نهایت تجربه کن!!!

        </p>

        <p class="section2-text">
            تا حالا بازی رو دیدی که بی نهایت مرحله داشته باشه؟؟!!!
        </p>

        <p class="section2-text">
            فقط با حدس چند تا عدد ساده میتونی کلی مرحله پرهیجان رو پشت سر بذاری که هرچی جلوتر بری برات جذاب تر میشه!!!
        </p>

        <p class="section2-text">
            تازه تو هر کدوم از این مرحله ها میتونی روی راهنمایی هامون حساب باز کنی!
        </p>

        <p class="section2-text">
            دیگه از بازی چیزی نمیگم تا خودتون برید و یه بازی سرگرم کننده و اعتیاد آور رو تجربه کنین!!!
        </p>

        <p class="section2-text" style="color: yellow">
            این شما این هم بی نهایت...
        </p>

        <p class="section2-text"></p>

    </div>
    <div id="section6" class="section dsp">
        <div class="wrap">
            <div class="imgsContainer" style="top: 60%">
                <img src="/static/finite/mobile1.png" alt="iphone" id="iphone2" style="margin-left: 340px;"/>
                <img src="/static/finite/mobile2.png" alt="iphone" id="iphone3" style="margin-left: 169px"/>
                <img style="margin-left: 10px;" src="/static/finite/22.png" alt="iphone" id="iphone4"/>

            </div>
            <div class="section6-text">
                <div class="section6-text1">
                    نمایی از بازی
                </div>

            </div>

        </div>

    </div>

    <div id="section3" class="section dsp">
        <div class="section3-position">
            <div class="intro display1 section3-left-img">
                <img src="/static/finite/classic-left.png" alt="Smiley face" width="100%" height="">


            </div>
            <div class="intro1 display1 section3-right-img">
                <img src="/static/finite/classic-right.png" alt="Smiley face" width="100%" height="">

            </div>
            <div class="section3-bottom-text">
                <img src="/static/finite/classic-text.png" alt="Smiley face" width="100%" height="">

            </div>
        </div>

    </div>
    <div id="section4" class="section dsp">
        <div class="section4-position">
            <div class="intro display1 section4-left-img">
                <img src="/static/finite/timer-left.png" alt="Smiley face" width="100%" height="">
            </div>
            <div class="intro1 display1 section4-right-img">
                <img src="/static/finite/timer-right.png" alt="Smiley face" width="100%" height="">

            </div>
            <div class="section4-bottom-text">
                <img src="/static/finite/timer-text.png" alt="Smiley face" width="100%" height="">

            </div>
        </div>
    </div>
    <div id="section5" class="section dsp">
        <div class="section5-position">
            <div class="intro display1 section5-left-img">
                <img src="/static/finite/bomb-left.png" alt="Smiley face" width="100%" height="">


            </div>
            <div class="intro1 display1 section5-right-img">
                <img src="/static/finite/bomb-right.png" alt="Smiley face" width="100%" height="">

            </div>
            <div class="section5-bottom-text">
                <img src="/static/finite/bomb-text.png" alt="Smiley face" width="100%" height="">

            </div>
        </div>
    </div>
    <div id="section7" class="section dsp">
        <p class="logopage-text">
            دیگر ساخته های ما
        </p>

        <div class="intro display1">
            <img src="/static/finite/product-top.png" alt="Smiley face" width="80%" height="">


        </div>
        <div class="intro1 display1 product-buttom-logo">
            <img src="/static/finite/product-buttom.png" alt="Smiley face" width="80%" height="">

        </div>


    </div>
    <div id="section8" class="section dsp">
        <div class="section8-box">
            <div class="section8-box-text">
                تماس با ما
            </div>

            <div style="width: 100%">
                <input type="text" name="FirstName" class="section8-in1" style="direction: rtl;" placeholder="ایمیل">
            </div>
            <div>
                <textarea class=" section8-in2" placeholder="ارسال نظر" name="comment"></textarea>

            </div>
            <div>
                <input type="submit" value="ارسال پیام" class="section8-button">
            </div>
        </div>
    </div>

</div>
</body>
</html>