<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PRK | پردازش رایانه کرمان</title>
    <meta name="description" content="گروه PRK فعال در زمینه وب اپلیکیشن ها و نرم افزارهای اندروید"/>
    <meta name="keywords"
          content="web, android, app, prk, infinity, prk group, kerman group, programming kerman group"/>
    <meta name="author" content="Codrops"/>
    <link rel="shortcut icon" href="/static/images/fav.ico">

    <script src="/static/js/jquery.min.js"></script>

    <link rel="stylesheet" href="/static/jquery/jquery.fullPage.css">
    <script src="/static/jquery/jquery.fullPage.min.js"></script>
    <script src="/static/del/del.js"></script>
    <link rel="stylesheet" href="/static/css/resume.css">

</head>
<body>

<div id="fullpage">
    <div id="section1" class="section dsp">
        <div class="mrg-center">
            <img src="/static/images/prk-logo.png">

            <div class="prk-text">
                گروه پردازش رایانه کرمان به همراه تیمی متعهد، متخصص و پرتلاش در زمینه نرم افزار فعالیت می کند.
                <br/>
                تا کنون پروژه های نرم افزاری بسیاری به صورت پیمانکار یا ایده های جدید در این گروه انجام شده است.
                <br/>
                توانایی ها و نمونه کارهای ما در ادامه آورده شده است.
                سعی ما همیشه این است که از تکنولوژی های روز استفاده کنیم و نرم افزارهایی با بهترین کیفیت ایجاد کنیم و
                بهبود ببخشیم.
                در حال حاضر نرم افزارهای وب و اپلیکیشن های اندروید اولویت اول ما در کارهای در حال اجراست.
                <br>
                {#                پیشرفت پیوسته و پایدار با پردازش رایانه کرمان#}
            </div>

        </div>
        <a href="#secondPage">
            <img src="/static/images/arrow-bottom.jpg" width="339" height="63" class="mrg-center"
                 style="margin-top: 10px;">
        </a>
    </div>
    <div id="section2" class="section dsp">
        <div class="empowerment mrg-center">
            <div class="emp-header">

                توانمندی ها

            </div>

            <div class="white">
                <h1>
                    Language & Frameworks
                </h1>
                Java - Android - Python - Django - C++ - C# - PHP

            </div>

            <div class="white">
                <h1>
                    WEB
                </h1>
                HTML 5 - CSS 3 - Java script - JQuery - AngularJS - Semantic UI

            </div>

            <div class="white">
                <h1>
                    Graphic
                </h1>
                Photoshop - Illustrator - Corel drow - 3Ds MAX - After Effect

            </div>


            {#            <div class="right graphic">#}
            {#                <div class="header-text">#}
            {#                    Graphic#}
            {#                </div>#}
            {#                Photoshop - Illustrator - Corel drow - 3D max - After Effect#}
            {#            </div>#}
            {##}
            {#            <div class="right web">#}
            {#                <div class="header-text">#}
            {#                    WEB#}
            {#                </div>#}
            {#                HTML 5 - CSS 3 - Java script - JQuery - AngularJS - semantic UI#}
            {##}
            {#            </div>#}
            {#            <div class="right language">#}
            {#                <div class="header-text">#}
            {#                    Language & Frameworks#}
            {#                </div>#}
            {#                Java - Android - Python - C++ - C# - PHP - Pjango#}
            {#            </div>#}

        </div>
        <a href="#3rdPage">
            <img src="/static/images/arrow-bottom1.jpg" width="339" height="63" class="mrg-center">
        </a>
    </div>
    <div id="section4" class="section dsp">
        <a class="logo-manzoom" href="http://manzoom.ir/"></a>

        <div class="ex-web">
            <div class="ex-web-item">
                <img src="/static/images/web-manzoom1.png" width="300" height="160">
            </div>
            <div class="ex-web-item">
                <img src="/static/images/web-manzoom2.png" width="300" height="153">
            </div>

            <div class="ex-web-item">
                <img src="/static/images/web-manzoom3.png" width="300" height="175">

            </div>

        </div>
        <div class="ex-text">
            منظوم جامع ترین و کاربردی ترین مرجع سینما و تلویزیون ایران می باشد.
            این پروژه کامل ترین بانک اطلاعاتی کاربردی فیلم ها و هنرمندان را دارا می باشد.
            منظوم بستری است برای همه‌ی مخاطبان سینما و تلویزیون تا در میان محصولات مورد علاقه‌ خود گشت و گذار کنند، با
            دیگران تبادل نظر کنند، دیدگاه منتقدان را بدانند و از اخبار جدید مطلع شوند.
            <br/>
            هم چنین نرم افزار اندروید تخصصی منظوم نیز برای دسترسی بهتر در اختیار کاربران قرار گرفته است.
        </div>
        <div class="ex-android">
            <div class="ex-android-item">
                <img src="/static/images/apk-manzoom1.jpg">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-manzoom2.jpg">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-manzoom3.jpg">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-manzoom4.jpg">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-manzoom5.jpg">
            </div>

        </div>
    </div>

    <div id="section4" class="section dsp">
        <a class="logo-poshtiban" href="http://poshtiban.stu.sharif.ir/">
        </a>

        <a class="logo-text" href="http://poshtiban.stu.sharif.ir/">
            پشتیبان دانشجویی
        </a>

        <div class="ex-web">
            <div class="ex-web-item">
                <img src="/static/images/web-poshtiban.jpg" width="300" height="147">
            </div>
            <div class="ex-web-item">
                <img src="/static/images/web-poshtiban2.jpg" width="300" height="">
            </div>

            <div class="ex-web-item">
                <img src="/static/images/web-poshtiban2.jpg" width="300" height="151">

            </div>

        </div>
        <div class="ex-text">
            پشتیبان دانشجویی سایتی برای کمک و ارتباط با دانشجویان ورودی است. از امکانات این سایت می توان به امکان دانلود
            جزوات و مطالب مفید و فرم های آموزشی برای دانشجویان ورودی و هم چنین تالار گفتمان تخصصی
            نام برد.
            <br/>
            این پروژه به سفارش معاونت دانشجویی دانشگاه صنعتی شریف ساخته شده است.
        </div>

    </div>
    <div id="section4" class="section dsp">
        <a class="logo-del" href="https://cafebazaar.ir/app/ir.parkgroup.del/?l=fa">
        </a>

        <a class="logo-text" href="https://cafebazaar.ir/app/ir.parkgroup.del/?l=fa">
            دل نوشته های مذهبی
        </a>

        <div class="ex-text">
            دل نوشته نرم افزاری برای به اشتراک گذاری متن، پیامک و شعرهای مختلف است.
            این نرم افزار نزدیک به شبکه اجتماعی است و هر شخص دارای پست های مربوط به خود است و پست ها پسندیده می شوند یا
            برای آن ها نظر گذاشته می شوند.
            برای ساخت این نرم افزار از تکنولوژی، api و وب سرویس های مختلفی استفاده شده که آن را بستری برای نرم
            افزارهای مشابه آینده قرار خواهد داد.
        </div>
        <div class="ex-android">
            <div class="ex-android-item">
                <img src="/static/images/apk-del1.jpg">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-del2.jpg">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-del3.jpg">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-del4.jpg">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-del5.jpg">
            </div>

        </div>
    </div>
    <div id="section4" class="section dsp">
        <div class="logo-diba"></div>
        <div class="ex-web" style="margin-top: 10px;">
            <div class="ex-web-item">
                <img src="/static/images/web-diba.jpg" width="300" height="234">
            </div>
            <div class="ex-web-item">
                <img src="/static/images/web-diba2.jpg" width="300" height="170">
            </div>

            <div class="ex-web-item">
                <img src="/static/images/web-diba3.jpg" width="300" height="229">

            </div>

        </div>
        <div class="ex-text">
            فروشگاه شال و روسری دیبا پروژه ای تحت وب و همچنین دارای نرم افزار اندروید مستقل می باشد.
            این فروشگاه دارای تمامی امکانات یک فروشگاه اینترنتی و دارای روند کامل خرید بود.
        </div>
        <div class="ex-android">
            <div class="ex-android-item">
                <img src="/static/images/apk-diba1.jpg" width="132">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-diba2.jpg" width="132">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-diba3.jpg" width="132">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-diba4.jpg" width="132">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-diba5.jpg" width="132" height="230">
            </div>

        </div>
    </div>
    <div id="section4" class="section dsp">
        <a class="logo-infinity" href="https://cafebazaar.ir/app/ir.prkgroup.infinity/?l=fa"></a>

        <a class="logo-text" href="https://cafebazaar.ir/app/ir.prkgroup.infinity/?l=fa">
            بی نهایت
        </a>

        <div class="ex-text">
            بازی بی نهایت اولین پروژه بازی گروه PRK می باشد. این بازی مجموعه ای از بازی های حدس اعداد است.
            این پروژه مقدمه ای برای ورود به دنیای بازی و بازی های دیگری بود که هم اکنون توسط PRK در حال ساخت هستند.
        </div>
        <div class="ex-android">
            <div class="ex-android-item">
                <img src="/static/images/apk-infinity1.jpg">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-infinity2.jpg">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-infinity3.jpg">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-infinity4.jpg">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-infinity5.jpg">
            </div>

        </div>
    </div>
    <div id="section4" class="section dsp">
        <a class="logo-googeli" href="https://cafebazaar.ir/app/ir.parkgroup.googly/?l=fa"></a>

        <a class="logo-text" href="https://cafebazaar.ir/app/ir.parkgroup.googly/?l=fa">
            گوگلی
        </a>

        <div class="ex-text">
            گوگلی دانشنامه گوگل تحت نرم افزاری برای گوشی های اندروید می باشد. با این نرم افزار می توانید بهتر گوگل را
            بشناسید.
            این نرم افزار بیش از صد و بیست محصول گوگل را در دنیای سخت افزار و نرم افزار همراه با لینک به وب سایت و لینک
            دانلود اپلیکیشن آن ها در اختیار شما می گذارد.

        </div>
        <div class="ex-android">
            <div class="ex-android-item">
                <img src="/static/images/apk-googeli1.jpg">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-googeli2.jpg">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-googeli3.jpg">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-googeli4.jpg">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-googeli5.jpg">
            </div>

        </div>
    </div>
    <div id="section5" class="section dsp">
        <div class="section4-box">
            <div class="section4-box-text">
                تماس با ما
            </div>

            <div class="contact message hidden">
                پیام شما با موفقیت ارسال شد.
            </div>


            <div style="width: 100%">
                <input type="text" name="FirstName" class="section4-in1" style="direction: rtl;" placeholder="ایمیل"
                       id="contact-email">
            </div>
            <div>
                <textarea class=" section4-in2" placeholder="ارسال نظر" name="comment" id="contact-text"></textarea>

            </div>
            <div>
                <input type="submit" value="ارسال پیام" class="section4-button send-btn">
            </div>
        </div>
    </div>
</div>
</body>
</html>