<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PRK | پردازش رایانه کرمان</title>
    <meta name="description" content="گروه PRK فعال در زمینه وب اپلیکیشن ها و نرم افزارهای اندروید"/>
    <meta name="keywords"
          content="web, android, app, prk, infinity, prk group, kerman group, programming kerman group"/>
    <meta name="author" content="Codrops"/>
    <link rel="shortcut icon" href="/static/images/fav.ico">

    <script src="/static/js/jquery.min.js"></script>

    <link rel="stylesheet" href="/static/jquery/jquery.fullPage.css">
    <script src="/static/jquery/jquery.fullPage.min.js"></script>
    <script src="/static/del/del.js"></script>
    <link rel="stylesheet" href="/static/css/resume.css">

</head>
<body>

<div id="fullpage">
    <div id="section1" class="section dsp">
        <div class="mrg-center">
            <img src="/static/images/prk-logo.png">

            <div class="prk-text">
                گروه پردازش رایانه کرمان گروهی متعهد، متخصص و مستقل است.
                ما رسما کار خود را از اواخر سال 1393 شروع کردیم.
                تا کنون پروژه های نرم افزاری بسیاری را به صورت پیمانکار یا ایده های جدید انجام دادیم.
                سعی ما همیشه این است که از تکنولوژی های روز استفاده کنیم و نرم افزارهایی با بهترین کیفیت ایجاد کنیم و
                بهبود ببخشیم.
                در حال حاضر در حال رشد در زمینه های نرم افزارهای وب و اپلیکیشن های اندروید هستیم و امیدواریم روز به روز
                کارهای بهتری ارائه دهیم و بر توانایی های خود بیافزاییم.
                پیشرفت پیوسته و پایدار با پردازش رایانه کرمان
            </div>

        </div>
        <img src="/static/images/arrow-bottom.jpg"width="339"height="63"class="mrg-center">
    </div>
    <div id="section2" class="section dsp">
        <div class="empowerment mrg-center">
            <div class="emp-header">

                توانمندی ها

            </div>
            <div class="white">
                <h1>
                    Graphic
                </h1>
                Photoshop - Illustrator - Corel drow - 3Ds MAX - After Effect

            </div>

            <div class="white">
                <h1>
                    WEB
                </h1>
                HTML 5 - CSS 3 - Java script - JQuery - AngularJS - semantic UI

            </div>


            <div class="white">
                <h1>
                    Language & Frameworks
                </h1>
                Java - Android - Python - C++ - C# - PHP - Pjango

            </div>


            {#            <div class="right graphic">#}
            {#                <div class="header-text">#}
            {#                    Graphic#}
            {#                </div>#}
            {#                Photoshop - Illustrator - Corel drow - 3D max - After Effect#}
            {#            </div>#}
            {##}
            {#            <div class="right web">#}
            {#                <div class="header-text">#}
            {#                    WEB#}
            {#                </div>#}
            {#                HTML 5 - CSS 3 - Java script - JQuery - AngularJS - semantic UI#}
            {##}
            {#            </div>#}
            {#            <div class="right language">#}
            {#                <div class="header-text">#}
            {#                    Language & Frameworks#}
            {#                </div>#}
            {#                Java - Android - Python - C++ - C# - PHP - Pjango#}
            {#            </div>#}

        </div>
                <img src="/static/images/arrow-bottom1.jpg"width="339"height="63"class="mrg-center">

    </div>
    <div id="section4" class="section dsp">
        <a class="logo-manzoom" href="http://manzoom.ir/"></a>
        <div class="ex-web">
            <div class="ex-web-item">
                <img src="/static/images/web-manzoom1.png" width="300" height="160">
            </div>
            <div class="ex-web-item">
                <img src="/static/images/web-manzoom2.png" width="300" height="153">
            </div>

            <div class="ex-web-item">
                <img src="/static/images/web-manzoom3.png" width="300" height="175">

            </div>

        </div>
        <div class="ex-text">
            راحتی شما در استفاده از منظوم همیشه یکی از مهم‌ترین اهدا
            ف ما بوده‌است. بر همین اساس، اپلیکیشن موبایلی از همان ابتدا
            جزوی از منظوم بوده‌است. ما نهایت تلاش خود را کرده‌ایم تا اپلیکیشن منظوم با
            توجه به ظرفیت‌ها و امکانات یک اپلیکیشن‌ موبایلی به بهترین وجه ممکن طراحی شود.
        </div>
        <div class="ex-android">
            <div class="ex-android-item">
                <img src="/static/images/apk-manzoom1.png">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-manzoom2.png">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-manzoom3.png">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-manzoom4.png">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-manzoom5.png">
            </div>

        </div>
    </div>

    <div id="section4" class="section dsp">
        <a class="logo-poshtiban" href="http://poshtiban.stu.sharif.ir/">
        </a>
        <div class="logo-text">
            پشتیبان دانشجویی
        </div>
        <div class="ex-web">
            <div class="ex-web-item">
                <img src="/static/images/web-poshtiban.jpg" width="300" height="147">
            </div>
            <div class="ex-web-item">
                <img src="/static/images/web-poshtiban2.jpg" width="300" height="">
            </div>

            <div class="ex-web-item">
                <img src="/static/images/web-poshtiban2.jpg" width="300" height="151">

            </div>

        </div>
        <div class="ex-text">
            راحتی شما در استفاده از منظوم همیشه یکی از مهم‌ترین اهدا
            ف ما بوده‌است. بر همین اساس، اپلیکیشن موبایلی از همان ابتدا
            جزوی از منظوم بوده‌است. ما نهایت تلاش خود را کرده‌ایم تا اپلیکیشن منظوم با
            توجه به ظرفیت‌ها و امکانات یک اپلیکیشن‌ موبایلی به بهترین وجه ممکن طراحی شود.
        </div>

    </div>
    <div id="section4" class="section dsp">
        <a class="logo-del" href="https://cafebazaar.ir/app/ir.parkgroup.del/?l=fa">
        </a>
        <div class="logo-text">
            دل نوشته های مذهبی
        </div>
        <div class="ex-text">
            راحتی شما در استفاده از منظوم همیشه یکی از مهم‌ترین اهدا
            ف ما بوده‌است. بر همین اساس، اپلیکیشن موبایلی از همان ابتدا
            جزوی از منظوم بوده‌است. ما نهایت تلاش خود را کرده‌ایم تا اپلیکیشن منظوم با
            توجه به ظرفیت‌ها و امکانات یک اپلیکیشن‌ موبایلی به بهترین وجه ممکن طراحی شود.
        </div>
        <div class="ex-android">
            <div class="ex-android-item">
                <img src="/static/images/apk-del1.jpg">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-del2.jpg">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-del3.jpg">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-del4.jpg">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-del5.jpg">
            </div>

        </div>
    </div>
    <div id="section4" class="section dsp">
        <div class="logo-diba"></div>
        <div class="ex-web">
            <div class="ex-web-item">
                <img src="/static/images/web-diba.jpg" width="300" height="234">
            </div>
            <div class="ex-web-item">
                <img src="/static/images/web-diba2.jpg" width="300" height="170">
            </div>

            <div class="ex-web-item">
                <img src="/static/images/web-diba3.jpg" width="300" height="229">

            </div>

        </div>
        <div class="ex-text">
            راحتی شما در استفاده از منظوم همیشه یکی از مهم‌ترین اهدا
            ف ما بوده‌است. بر همین اساس، اپلیکیشن موبایلی از همان ابتدا
            جزوی از منظوم بوده‌است. ما نهایت تلاش خود را کرده‌ایم تا اپلیکیشن منظوم با
            توجه به ظرفیت‌ها و امکانات یک اپلیکیشن‌ موبایلی به بهترین وجه ممکن طراحی شود.
        </div>
        <div class="ex-android">
            <div class="ex-android-item">
                <img src="/static/images/apk-diba1.jpg" width="132">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-diba2.jpg" width="132">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-diba3.jpg" width="132">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-diba4.jpg" width="132">
            </div>
            <div class="ex-android-item">
                <img src="/static/images/apk-diba5.jpg" width="132" height="230">
            </div>

        </div>
    </div>
    <div id="section4" class="section dsp">
        <div class="section4-box">
            <div class="section4-box-text">
                تماس با ما
            </div>

            <div style="width: 100%">
                <input type="text" name="FirstName" class="section4-in1" style="direction: rtl;" placeholder="ایمیل">
            </div>
            <div>
                <textarea class=" section4-in2" placeholder="ارسال نظر" name="comment"></textarea>

            </div>
            <div>
                <input type="submit" value="ارسال پیام" class="section4-button">
            </div>
        </div>
    </div>
</div>
</body>
</html>