{#<dl id="comments">#}
{#  {% for comment in comment_list %}#}
{#    <dt id="c{{ comment.id }}">#}
{#        {{ comment.submit_date }} - {{ comment.name }}#}
{#    </dt>#}
{#    <dd>#}
{#        <p>{{ comment.comment }}</p>#}
{#    </dd>#}
{#  {% endfor %}#}
{#</dl>#}
{% load threadedcomments_tags %}
{% load prk_templatetags %}
<div id="comments-div" >
    {% for comment in comment_list|fill_tree|annotate_tree %}
        {% ifchanged comment.parent_id %}{% else %}
        </li>
        {% endifchanged %}
        {% if not comment.open and not comment.close %}
            </li>
        {% endif %}
        {% if comment.open %}
        <div class="comment {% cycle 'odd' 'even' %}">{% endif %}
    <li id="c{{ comment.id }}">{# c## is used by the absolute URL of the Comment model, so keep that as it is. #}
            <div class="info">
                    <span class="name"><strong>{{ comment.name }}</strong></span>
                    <span class="date">{{ comment.submit_date|jalali_by_time }}</span>
            </div>
            <div class="body">
                {{ comment.comment|linebreaks }}
            </div>
        {% for close in comment.close %}</li></div>{% endfor %}
    {% endfor %}
</div>
