{% extends "base.html" %}
{% load i18n %}

{% block title %}تشکر به خاطر ارسال دیدگاه{% endblock %}

{% load prk_templatetags %}
{% load threadedcomments_tags %}
{% block extra_css %}
    <style type="text/css">
        body, div {
            width: 540px !important;
        }

        body {
            padding: 20px;
            overflow-x: hidden;
        }
    </style>
{% endblock %}
{% block body %}
    <div id="pp_full_res">
        <div class="pp_inline">


            <div id="messages">
                <h1 style="text-align: center;font-size: 30px;">از ارسال دیدگاه شما ممنونیم.</h1>

                <h1 style="text-align: center;font-size: 30px;">دیدگاه شما پس از تایید نمایش داده خواهد شد.</h1>
            </div>


        </div>
    </div>

{% endblock %}