{% extends 'base.html' %}
{% block content %}
    <div class="ui page grid segment tahoma">
        <div class="ui four column wide">

            <div class="column">
                <img src="{{ MEDIA_URL }}{{ ware.image }}" width="200px" height="200px">
            </div>
            <div class="column">{{ ware.brief }}</div>

            <div class="ui clearing divider"></div>

        </div>
        <div class="ui ten column wide fluid">
            <div class="ui segment column wide fluid">
                <div class="ui segment column">
                    نوع محصول:
                    {{ ware.get_ware_type_display }}
                </div>
                <div class="ui segment column">
                    نام محصول:
                    {{ ware.name }}
                </div>
                <div class="ui segment column">
                    کد محصول:
                    {{ ware.code }}
                </div>
                <div class="ui segment column">
                    وضعیت:
                    <div class="column square ui button small inverted {{ ware.remaining_color }}">{{ ware.remaining_type }}</div>

                </div>
                <div class="ui clearing divider"></div>
                <div class="column square ui button blue inverted" style="{{ ware.remaining_style }}">{{ ware.price }}
                    تومان
                </div>
                {% if ware.is_remaining %}
                <a class="column square ui button teal inverted" href="{% url add_factor ware_id=ware.id %}">
                    اضافه کردن به سبد خرید
                    <i class="cart icon yellow medium"></i>
                </a>
                {% endif %}
                <div class="ui clearing divider"></div>

                <div class="ui segment column">
                    توضیحات کالا:
                    <br/>
                    {{ ware.description }}
                </div>
            </div>


        </div>


        <div class="ui fourteen column wide">
            {% for image in ware.extra_images.all %}
                <div class="column">
                    <img src="{{ MEDIA_URL }}{{ image.image }}" width="200px" height="200px">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}